@font-face {
    font-family: 'san_francisco_textbold';
    src: url('../fonts/sanfranciscotext-bold-webfont.woff2') format('woff2'),
         url('../fonts/sanfranciscotext-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'san_francisco_textmedium';
    src: url('../fonts/sanfranciscotext-medium-webfont.woff2') format('woff2'),
         url('../fonts/sanfranciscotext-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'san_francisco_text_regularRg';
    src: url('../fonts/sanfranciscotext-regular-webfont.woff2') format('woff2'),
         url('../fonts/sanfranciscotext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'san_francisco_textregular_g1';
    src: url('../fonts/sanfranciscotext-regularg1-webfont.woff2') format('woff2'),
         url('../fonts/sanfranciscotext-regularg1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'san_francisco_textregular_g2';
    src: url('../fonts/sanfranciscotext-regularg2-webfont.woff2') format('woff2'),
         url('../fonts/sanfranciscotext-regularg2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'san_francisco_textregular_g3';
    src: url('../fonts/sanfranciscotext-regularg3-webfont.woff2') format('woff2'),
         url('../fonts/sanfranciscotext-regularg3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'san_francisco_textthin';
    src: url('../fonts/sanfranciscotext-thin-webfont.woff2') format('woff2'),
         url('../fonts/sanfranciscotext-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'san_francisco_textlight';
    src: url('../fonts/sanfranciscotext-light-webfont.woff2') format('woff2'),
         url('../fonts/sanfranciscotext-light-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}
