.custom-bullis .item.item-spec a span, .sec-find-by-job .wrap-item .item.item-spec a span {
  font-family: "san_francisco_text_regularRg", arial, Helvetica, sans-serif; }

body {
  font-family: "san_francisco_textregular_g1", arial, Helvetica, sans-serif; }

.text-thin {
  font-family: "san_francisco_textthin", arial, Helvetica, sans-serif; }

.text-lig {
  font-family: "san_francisco_textlight", arial, Helvetica, sans-serif; }

.btn-custom, .text-bold, .breadcrumb .breadcrumb-item.active, .navbar-header.top-header .nav-item .nav-link, .navbar-header .nav-item.active .nav-link, .mid-footer .link-item a, .nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active, .custom-bullis .item.item-spec a, .sec-find-by-job .wrap-item .item.item-spec a {
  font-family: "san_francisco_textbold", arial, Helvetica, sans-serif; }

.rt::before {
  font-family: "icofont", arial, Helvetica, sans-serif; }

a {
  -webkit-transition: 0.3s;
  -khtml-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

html, body, .btn-custom, a:hover, a.active, .page-numbers, .page-numbers.current,
a.page-numbers:hover, .wrapper {
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

/***
	/*
	* ------------------------------ 1. RESET -----
	* ---------------------------------------------
	*/
/* ---------------- *\
		Normal
\* ---------------- */
html, body {
  height: 100%;
  width: 100%; }

body {
  overflow-x: hidden;
  font-size: 13px;
  font-weight: normal;
  line-height: normal; }
  @media only screen and (min-width: 768px) {
    body {
      font-size: 14px; } }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  width: 100%;
  height: 42px;
  border: 1px solid #bcbdc0;
  background: #fff; }
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="datetime"]::-webkit-input-placeholder,
  input[type="datetime-local"]::-webkit-input-placeholder,
  input[type="date"]::-webkit-input-placeholder,
  input[type="month"]::-webkit-input-placeholder,
  input[type="time"]::-webkit-input-placeholder,
  input[type="week"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="color"]::-webkit-input-placeholder,
  .uneditable-input::-webkit-input-placeholder {
    color: #bcbdc0;
    font-size: 0.8571428571em; }
  select:-moz-placeholder,
  textarea:-moz-placeholder,
  input[type="text"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder,
  input[type="datetime"]:-moz-placeholder,
  input[type="datetime-local"]:-moz-placeholder,
  input[type="date"]:-moz-placeholder,
  input[type="month"]:-moz-placeholder,
  input[type="time"]:-moz-placeholder,
  input[type="week"]:-moz-placeholder,
  input[type="number"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="url"]:-moz-placeholder,
  input[type="search"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  input[type="color"]:-moz-placeholder,
  .uneditable-input:-moz-placeholder {
    color: #bcbdc0;
    font-size: 0.8571428571em; }
  select::-moz-placeholder,
  textarea::-moz-placeholder,
  input[type="text"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder,
  input[type="datetime"]::-moz-placeholder,
  input[type="datetime-local"]::-moz-placeholder,
  input[type="date"]::-moz-placeholder,
  input[type="month"]::-moz-placeholder,
  input[type="time"]::-moz-placeholder,
  input[type="week"]::-moz-placeholder,
  input[type="number"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="url"]::-moz-placeholder,
  input[type="search"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="color"]::-moz-placeholder,
  .uneditable-input::-moz-placeholder {
    color: #bcbdc0;
    font-size: 0.8571428571em; }
  select:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  input[type="text"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder,
  input[type="datetime"]:-ms-input-placeholder,
  input[type="datetime-local"]:-ms-input-placeholder,
  input[type="date"]:-ms-input-placeholder,
  input[type="month"]:-ms-input-placeholder,
  input[type="time"]:-ms-input-placeholder,
  input[type="week"]:-ms-input-placeholder,
  input[type="number"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="url"]:-ms-input-placeholder,
  input[type="search"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  input[type="color"]:-ms-input-placeholder,
  .uneditable-input:-ms-input-placeholder {
    color: #bcbdc0;
    font-size: 0.8571428571em; }
  select:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder,
  input[type="text"]:focus::-webkit-input-placeholder,
  input[type="password"]:focus::-webkit-input-placeholder,
  input[type="datetime"]:focus::-webkit-input-placeholder,
  input[type="datetime-local"]:focus::-webkit-input-placeholder,
  input[type="date"]:focus::-webkit-input-placeholder,
  input[type="month"]:focus::-webkit-input-placeholder,
  input[type="time"]:focus::-webkit-input-placeholder,
  input[type="week"]:focus::-webkit-input-placeholder,
  input[type="number"]:focus::-webkit-input-placeholder,
  input[type="email"]:focus::-webkit-input-placeholder,
  input[type="url"]:focus::-webkit-input-placeholder,
  input[type="search"]:focus::-webkit-input-placeholder,
  input[type="tel"]:focus::-webkit-input-placeholder,
  input[type="color"]:focus::-webkit-input-placeholder,
  .uneditable-input:focus::-webkit-input-placeholder {
    color: transparent !important; }
  select:focus:-moz-placeholder,
  textarea:focus:-moz-placeholder,
  input[type="text"]:focus:-moz-placeholder,
  input[type="password"]:focus:-moz-placeholder,
  input[type="datetime"]:focus:-moz-placeholder,
  input[type="datetime-local"]:focus:-moz-placeholder,
  input[type="date"]:focus:-moz-placeholder,
  input[type="month"]:focus:-moz-placeholder,
  input[type="time"]:focus:-moz-placeholder,
  input[type="week"]:focus:-moz-placeholder,
  input[type="number"]:focus:-moz-placeholder,
  input[type="email"]:focus:-moz-placeholder,
  input[type="url"]:focus:-moz-placeholder,
  input[type="search"]:focus:-moz-placeholder,
  input[type="tel"]:focus:-moz-placeholder,
  input[type="color"]:focus:-moz-placeholder,
  .uneditable-input:focus:-moz-placeholder {
    color: transparent !important; }
  select:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder,
  input[type="text"]:focus::-moz-placeholder,
  input[type="password"]:focus::-moz-placeholder,
  input[type="datetime"]:focus::-moz-placeholder,
  input[type="datetime-local"]:focus::-moz-placeholder,
  input[type="date"]:focus::-moz-placeholder,
  input[type="month"]:focus::-moz-placeholder,
  input[type="time"]:focus::-moz-placeholder,
  input[type="week"]:focus::-moz-placeholder,
  input[type="number"]:focus::-moz-placeholder,
  input[type="email"]:focus::-moz-placeholder,
  input[type="url"]:focus::-moz-placeholder,
  input[type="search"]:focus::-moz-placeholder,
  input[type="tel"]:focus::-moz-placeholder,
  input[type="color"]:focus::-moz-placeholder,
  .uneditable-input:focus::-moz-placeholder {
    color: transparent !important; }
  select:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder,
  input[type="text"]:focus:-ms-input-placeholder,
  input[type="password"]:focus:-ms-input-placeholder,
  input[type="datetime"]:focus:-ms-input-placeholder,
  input[type="datetime-local"]:focus:-ms-input-placeholder,
  input[type="date"]:focus:-ms-input-placeholder,
  input[type="month"]:focus:-ms-input-placeholder,
  input[type="time"]:focus:-ms-input-placeholder,
  input[type="week"]:focus:-ms-input-placeholder,
  input[type="number"]:focus:-ms-input-placeholder,
  input[type="email"]:focus:-ms-input-placeholder,
  input[type="url"]:focus:-ms-input-placeholder,
  input[type="search"]:focus:-ms-input-placeholder,
  input[type="tel"]:focus:-ms-input-placeholder,
  input[type="color"]:focus:-ms-input-placeholder,
  .uneditable-input:focus:-ms-input-placeholder {
    color: transparent !important; }
  select.clear,
  textarea.clear,
  input[type="text"].clear,
  input[type="password"].clear,
  input[type="datetime"].clear,
  input[type="datetime-local"].clear,
  input[type="date"].clear,
  input[type="month"].clear,
  input[type="time"].clear,
  input[type="week"].clear,
  input[type="number"].clear,
  input[type="email"].clear,
  input[type="url"].clear,
  input[type="search"].clear,
  input[type="tel"].clear,
  input[type="color"].clear,
  .uneditable-input.clear {
    background: transparent;
    border: 1px solid #fff; }
    select.clear::-webkit-input-placeholder,
    textarea.clear::-webkit-input-placeholder,
    input[type="text"].clear::-webkit-input-placeholder,
    input[type="password"].clear::-webkit-input-placeholder,
    input[type="datetime"].clear::-webkit-input-placeholder,
    input[type="datetime-local"].clear::-webkit-input-placeholder,
    input[type="date"].clear::-webkit-input-placeholder,
    input[type="month"].clear::-webkit-input-placeholder,
    input[type="time"].clear::-webkit-input-placeholder,
    input[type="week"].clear::-webkit-input-placeholder,
    input[type="number"].clear::-webkit-input-placeholder,
    input[type="email"].clear::-webkit-input-placeholder,
    input[type="url"].clear::-webkit-input-placeholder,
    input[type="search"].clear::-webkit-input-placeholder,
    input[type="tel"].clear::-webkit-input-placeholder,
    input[type="color"].clear::-webkit-input-placeholder,
    .uneditable-input.clear::-webkit-input-placeholder {
      color: #fff;
      font-size: 0.8571428571em; }
    select.clear:-moz-placeholder,
    textarea.clear:-moz-placeholder,
    input[type="text"].clear:-moz-placeholder,
    input[type="password"].clear:-moz-placeholder,
    input[type="datetime"].clear:-moz-placeholder,
    input[type="datetime-local"].clear:-moz-placeholder,
    input[type="date"].clear:-moz-placeholder,
    input[type="month"].clear:-moz-placeholder,
    input[type="time"].clear:-moz-placeholder,
    input[type="week"].clear:-moz-placeholder,
    input[type="number"].clear:-moz-placeholder,
    input[type="email"].clear:-moz-placeholder,
    input[type="url"].clear:-moz-placeholder,
    input[type="search"].clear:-moz-placeholder,
    input[type="tel"].clear:-moz-placeholder,
    input[type="color"].clear:-moz-placeholder,
    .uneditable-input.clear:-moz-placeholder {
      color: #fff;
      font-size: 0.8571428571em; }
    select.clear::-moz-placeholder,
    textarea.clear::-moz-placeholder,
    input[type="text"].clear::-moz-placeholder,
    input[type="password"].clear::-moz-placeholder,
    input[type="datetime"].clear::-moz-placeholder,
    input[type="datetime-local"].clear::-moz-placeholder,
    input[type="date"].clear::-moz-placeholder,
    input[type="month"].clear::-moz-placeholder,
    input[type="time"].clear::-moz-placeholder,
    input[type="week"].clear::-moz-placeholder,
    input[type="number"].clear::-moz-placeholder,
    input[type="email"].clear::-moz-placeholder,
    input[type="url"].clear::-moz-placeholder,
    input[type="search"].clear::-moz-placeholder,
    input[type="tel"].clear::-moz-placeholder,
    input[type="color"].clear::-moz-placeholder,
    .uneditable-input.clear::-moz-placeholder {
      color: #fff;
      font-size: 0.8571428571em; }
    select.clear:-ms-input-placeholder,
    textarea.clear:-ms-input-placeholder,
    input[type="text"].clear:-ms-input-placeholder,
    input[type="password"].clear:-ms-input-placeholder,
    input[type="datetime"].clear:-ms-input-placeholder,
    input[type="datetime-local"].clear:-ms-input-placeholder,
    input[type="date"].clear:-ms-input-placeholder,
    input[type="month"].clear:-ms-input-placeholder,
    input[type="time"].clear:-ms-input-placeholder,
    input[type="week"].clear:-ms-input-placeholder,
    input[type="number"].clear:-ms-input-placeholder,
    input[type="email"].clear:-ms-input-placeholder,
    input[type="url"].clear:-ms-input-placeholder,
    input[type="search"].clear:-ms-input-placeholder,
    input[type="tel"].clear:-ms-input-placeholder,
    input[type="color"].clear:-ms-input-placeholder,
    .uneditable-input.clear:-ms-input-placeholder {
      color: #fff;
      font-size: 0.8571428571em; }
    select.clear:focus::-webkit-input-placeholder,
    textarea.clear:focus::-webkit-input-placeholder,
    input[type="text"].clear:focus::-webkit-input-placeholder,
    input[type="password"].clear:focus::-webkit-input-placeholder,
    input[type="datetime"].clear:focus::-webkit-input-placeholder,
    input[type="datetime-local"].clear:focus::-webkit-input-placeholder,
    input[type="date"].clear:focus::-webkit-input-placeholder,
    input[type="month"].clear:focus::-webkit-input-placeholder,
    input[type="time"].clear:focus::-webkit-input-placeholder,
    input[type="week"].clear:focus::-webkit-input-placeholder,
    input[type="number"].clear:focus::-webkit-input-placeholder,
    input[type="email"].clear:focus::-webkit-input-placeholder,
    input[type="url"].clear:focus::-webkit-input-placeholder,
    input[type="search"].clear:focus::-webkit-input-placeholder,
    input[type="tel"].clear:focus::-webkit-input-placeholder,
    input[type="color"].clear:focus::-webkit-input-placeholder,
    .uneditable-input.clear:focus::-webkit-input-placeholder {
      color: transparent !important; }
    select.clear:focus:-moz-placeholder,
    textarea.clear:focus:-moz-placeholder,
    input[type="text"].clear:focus:-moz-placeholder,
    input[type="password"].clear:focus:-moz-placeholder,
    input[type="datetime"].clear:focus:-moz-placeholder,
    input[type="datetime-local"].clear:focus:-moz-placeholder,
    input[type="date"].clear:focus:-moz-placeholder,
    input[type="month"].clear:focus:-moz-placeholder,
    input[type="time"].clear:focus:-moz-placeholder,
    input[type="week"].clear:focus:-moz-placeholder,
    input[type="number"].clear:focus:-moz-placeholder,
    input[type="email"].clear:focus:-moz-placeholder,
    input[type="url"].clear:focus:-moz-placeholder,
    input[type="search"].clear:focus:-moz-placeholder,
    input[type="tel"].clear:focus:-moz-placeholder,
    input[type="color"].clear:focus:-moz-placeholder,
    .uneditable-input.clear:focus:-moz-placeholder {
      color: transparent !important; }
    select.clear:focus::-moz-placeholder,
    textarea.clear:focus::-moz-placeholder,
    input[type="text"].clear:focus::-moz-placeholder,
    input[type="password"].clear:focus::-moz-placeholder,
    input[type="datetime"].clear:focus::-moz-placeholder,
    input[type="datetime-local"].clear:focus::-moz-placeholder,
    input[type="date"].clear:focus::-moz-placeholder,
    input[type="month"].clear:focus::-moz-placeholder,
    input[type="time"].clear:focus::-moz-placeholder,
    input[type="week"].clear:focus::-moz-placeholder,
    input[type="number"].clear:focus::-moz-placeholder,
    input[type="email"].clear:focus::-moz-placeholder,
    input[type="url"].clear:focus::-moz-placeholder,
    input[type="search"].clear:focus::-moz-placeholder,
    input[type="tel"].clear:focus::-moz-placeholder,
    input[type="color"].clear:focus::-moz-placeholder,
    .uneditable-input.clear:focus::-moz-placeholder {
      color: transparent !important; }
    select.clear:focus:-ms-input-placeholder,
    textarea.clear:focus:-ms-input-placeholder,
    input[type="text"].clear:focus:-ms-input-placeholder,
    input[type="password"].clear:focus:-ms-input-placeholder,
    input[type="datetime"].clear:focus:-ms-input-placeholder,
    input[type="datetime-local"].clear:focus:-ms-input-placeholder,
    input[type="date"].clear:focus:-ms-input-placeholder,
    input[type="month"].clear:focus:-ms-input-placeholder,
    input[type="time"].clear:focus:-ms-input-placeholder,
    input[type="week"].clear:focus:-ms-input-placeholder,
    input[type="number"].clear:focus:-ms-input-placeholder,
    input[type="email"].clear:focus:-ms-input-placeholder,
    input[type="url"].clear:focus:-ms-input-placeholder,
    input[type="search"].clear:focus:-ms-input-placeholder,
    input[type="tel"].clear:focus:-ms-input-placeholder,
    input[type="color"].clear:focus:-ms-input-placeholder,
    .uneditable-input.clear:focus:-ms-input-placeholder {
      color: transparent !important; }

[class^="fa- "]:before,
[class*=" fa-"]:before {
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  line-height: 1em; }

/*----------------*\
	COLOR
\*----------------*/
.clo-ora {
  color: #f48120; }

.clo-whi {
  color: #fff; }

.clo-bla {
  color: #000; }

.clo-blue {
  color: #006c98; }

.clo-grey {
  color: #bcbdc0; }

.clo-greyD {
  color: #979798; }

/*----------------*\
	HEADLINE
\*----------------*/
.headline {
  position: relative;
  color: #000;
  font-size: 2em; }
  @media only screen and (max-width: 767px) {
    .headline {
      font-size: 1.7142857143em; } }
  .headline.clo-white {
    color: #fff; }
  .headline.clo-ora {
    color: #f48120; }
  .headline.hl-18 {
    font-size: 1.2857142857em; }
  .headline.hl-24 {
    font-size: 1.7142857143em; }
  .headline.hl-25 {
    font-size: 1.7857142857em; }
  .headline.hl-30 {
    font-size: 2.1428571429em; }
  .headline.hl-36 {
    font-size: 2.5714285714em; }
  .headline.noUpper {
    text-transform: initial; }
  .headline .sub-head {
    display: block;
    margin: 0 0 12px 0;
    line-height: 35px;
    color: #fff;
    -webkit-text-fill-color: #fff; }

/*----------------*\
	LINK WRAP
\*----------------*/
.hotspot {
  position: relative; }
  .hotspot .bubble {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }

/*----------------*\
	BORDER
\*----------------*/
.bder01 {
  border: 1px solid #bcbdc0; }

.bder03-ora {
  border: 3px solid #f48120; }

@media only screen and (min-width: 992px) {
  .bdl-lg-01-ora {
    border-left: 1px solid #f48120; } }

.bdbt01-ora {
  border-bottom: 1px solid #f48120; }

.bdrd-50p {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.bdrd-08 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }

.bdrd-tl {
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  border-top-left-radius: 0; }

.bdrd-tr {
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  border-top-right-radius: 0; }

.bdrd-tl {
  -webkit-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px; }

.bdrd-tr {
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px; }

/*----------------*\
	SHADOW
\*----------------*/
.bsd {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1); }

/*----------------*\
	BACKGROUND
\*----------------*/
.bg-clor {
  background: #f48120; }

.bg-white {
  background: #fff; }

.bg-clgrey {
  background: #e6e7e8; }

/*----------------*\
	IMAGE
\*----------------*/
img.w15 {
  width: 15px; }
img.w20 {
  width: 20px; }
img.w20 {
  width: 20px; }
img.w30 {
  width: 30px; }
img.w50 {
  width: 50px; }
img.w100 {
  width: 100px; }
img.w130 {
  width: 130px; }
img.w160 {
  width: 160px; }
img.w200 {
  width: 200px; }
img.mw70 {
  max-width: 70px;
  width: 100%; }
img.mw100 {
  max-width: 100px;
  /* ----------------------- RESPONSIVE */ }
  @media only screen and (max-width: 767px) {
    img.mw100 {
      max-width: 70px; } }
  img.mw100.top1 {
    width: 100%;
    /* ----------------------- RESPONSIVE */ }
    @media only screen and (max-width: 767px) {
      img.mw100.top1 {
        max-width: 100px; } }
img.mw130 {
  max-width: 130px;
  width: 100%; }
img.mw200 {
  max-width: 200px;
  width: 100%; }
img.mw300 {
  max-width: 300px;
  width: 100%;
  /* ----------------------- RESPONSIVE */ }
  @media only screen and (max-width: 767px) {
    img.mw300 {
      max-width: 200px; } }
img.mw100r {
  max-width: 100px;
  /* ----------------------- RESPONSIVE */ }
  @media only screen and (max-width: 991px) {
    img.mw100r {
      max-width: 80px; } }
  @media only screen and (max-width: 767px) {
    img.mw100r {
      max-width: 100%; } }
  @media only screen and (max-width: 576px) {
    img.mw100r {
      max-width: 100px; } }
img.w100p {
  width: 100%; }

/*----------------*\
	VIDEO
\*----------------*/
@media only screen and (max-width: 767px) {
  .yt-wrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0; }
    .yt-wrap iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; } }

/*----------------*\
	BUTTON
\*----------------*/
.btn-custom {
  position: relative;
  top: 0;
  border: 1px solid transparent;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1em;
  outline: 0;
  box-shadow: none !important; }
  .btn-custom:focus {
    outline: 0; }
  .btn-custom.h30 {
    height: 30px;
    line-height: 1.3; }
  .btn-custom.h42 {
    height: 42px; }
  .btn-custom.big-text {
    font-size: 2.1428571429em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px; }
  .btn-custom.fullw {
    width: 100%; }
  .btn-custom.fullh {
    height: 100%; }
  .btn-custom.no-padH {
    padding-left: 0;
    padding-right: 0; }
  .btn-custom.ora {
    background-color: #f48120;
    color: #fff; }
    .btn-custom.ora:hover, .btn-custom.ora:focus {
      background-color: transparent;
      border: 1px solid #f48120;
      color: #f48120; }
  .btn-custom.ora-line {
    background-color: #fff;
    border: 2px solid #f48120;
    color: #f48120; }
    .btn-custom.ora-line:hover, .btn-custom.ora-line:focus {
      background-color: #f48120;
      border: 2px solid #f48120;
      color: #fff; }
  .btn-custom.ora-w {
    color: #fff;
    border: 1px solid #fff; }
    .btn-custom.ora-w:hover, .btn-custom.ora-w:focus {
      background-color: #fff;
      color: #f48120; }
  .btn-custom.blu {
    background-color: #006c98; }
    .btn-custom.blu:hover, .btn-custom.blu:focus {
      background-color: transparent;
      border: 1px solid #006c98;
      color: #006c98; }
  .btn-custom.whi {
    background-color: #fff;
    color: #f48120; }
    .btn-custom.whi:hover, .btn-custom.whi:focus {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff; }
  .btn-custom.whi-line {
    border: 1px solid #f48120;
    background-color: #fff;
    color: #f48120; }
  .btn-custom.btn-fake {
    border-width: 1px;
    text-transform: initial; }
    .btn-custom.btn-fake i {
      border-style: solid;
      border-color: #f48120 transparent transparent transparent;
      border-width: 8px 5px 0 5px;
      height: 0;
      width: 0;
      margin-left: -5px;
      margin-top: -4px;
      position: absolute;
      top: 50%;
      right: 5%; }
    .btn-custom.btn-fake:hover, .btn-custom.btn-fake:focus {
      border-width: 1px; }
      .btn-custom.btn-fake:hover i, .btn-custom.btn-fake:focus i {
        border-color: #fff transparent transparent transparent; }
  .btn-custom.btn-custom-2 {
    background-color: #fff;
    border: 1px solid #f48120;
    color: #f48120; }
    .btn-custom.btn-custom-2:hover, .btn-custom.btn-custom-2:focus, .btn-custom.btn-custom-2.active {
      background-color: #f48120;
      border: 1px solid #f48120;
      color: #fff; }

.custom-file-my .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
.custom-file-my .inputfile + label {
  display: inline-block;
  padding: .375rem .75rem;
  max-width: 70%;
  background-color: #f48120;
  border: 1px solid transparent;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  line-height: 1.5;
  font-size: 1em;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem; }

/*----------------*\
	BUTTON, BUTTON LIST
\*----------------*/
/*----------------*\
	TYPO
\*----------------*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: normal;
  color: #f48120; }

a {
  color: #000;
  font-family: inherit;
  outline: none; }
  a:hover, a.active {
    color: #f48120;
    text-decoration: none; }
  a.clo-whi {
    color: #fff; }
    a.clo-whi:hover, a.clo-whi.active {
      opacity: 0.6; }
  a.clo-ora {
    color: #f48120; }
    a.clo-ora:hover, a.clo-ora.active {
      opacity: 0.6; }

li {
  font-family: inherit; }

p {
  font-size: 1em;
  line-height: 16px; }

.text-30 {
  font-size: 2.1428571429em; }

.text-20 {
  font-size: 1.4285714286em; }

.text-18 {
  font-size: 1.2857142857em; }

.text-16 {
  font-size: 1.1428571429em; }

.text-15 {
  font-size: 1.0714285714em; }

.text-14 {
  font-size: 1em; }

.text-13 {
  font-size: 0.9285714286em; }

.text-12 {
  font-size: 0.8571428571em; }

.text-uper {
  text-transform: uppercase; }

.lihe20 {
  line-height: 20px; }

.lihe22 {
  line-height: 22px; }

.lihe24 {
  line-height: 24px; }

.lihe26 {
  line-height: 26px; }

.lihe30 {
  line-height: 30px; }

.lihe32 {
  line-height: 32px; }

.lihe44 {
  line-height: 44px; }
  @media only screen and (max-width: 575px) {
    .lihe44 {
      line-height: 38px; } }

.p-lihe22 p {
  line-height: 22px; }

.ltsp-1 {
  letter-spacing: -1px; }

.ltsp01 {
  letter-spacing: 0.1px; }

.ltsp1 {
  letter-spacing: 1px; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/*----------------*\
	SPACING
\*----------------*/
.divide10 {
  width: 100%;
  height: 10px; }

.divide20 {
  width: 100%;
  height: 20px; }

.divide30 {
  width: 100%;
  height: 30px; }

.divide80 {
  width: 100%;
  height: 80px; }

.inner00 {
  padding-left: 10px;
  padding-right: 10px; }

.inner10 {
  padding-left: 10px;
  padding-right: 10px; }

.inner20 {
  padding-left: 20px;
  padding-right: 20px; }

.inner30 {
  padding-left: 30px;
  padding-right: 30px; }

.inner60 {
  padding-left: 60px;
  padding-right: 60px; }

.mgt00 {
  margin-top: 0px; }

.mgt01 {
  margin-top: 1px; }

.mgt05 {
  margin-top: 5px; }

.mgt10 {
  margin-top: 10px; }

.mgt15 {
  margin-top: 15px; }

.mgt20 {
  margin-top: 20px; }

.mgt30 {
  margin-top: 30px; }

.mgt40 {
  margin-top: 40px; }

.mgt50 {
  margin-top: 50px; }

.mgt60 {
  margin-top: 60px; }

.mgbt05 {
  margin-bottom: 05px; }

.mgbt10 {
  margin-bottom: 10px; }

.mgbt15 {
  margin-bottom: 15px; }

.mgbt20 {
  margin-bottom: 20px; }

.mgbt30 {
  margin-bottom: 30px; }

.mgbt40 {
  margin-bottom: 40px; }

.mgbt50 {
  margin-bottom: 50px; }

.pdt10 {
  padding-top: 10px; }

.pdt20 {
  padding-top: 20px; }

.pdt30 {
  padding-top: 30px; }

.pdt40 {
  padding-top: 40px; }

.pdt50 {
  padding-top: 50px; }

.pdbt00 {
  padding-bottom: 0; }

.pdbt10 {
  padding-bottom: 10px; }

.pdbt20 {
  padding-bottom: 20px; }

.pdbt30 {
  padding-bottom: 30px; }

.pdbt40 {
  padding-bottom: 40px; }

.pdbt50 {
  padding-bottom: 50px; }

.pdy40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.pdy50 {
  padding-top: 50px;
  padding-bottom: 50px; }

@media only screen and (min-width: 1200px) {
  .gutt20.row {
    margin-left: -20px;
    margin-right: -20px; }
  .gutt20 > [class*='col-'] {
    padding-right: 20px;
    padding-left: 20px; } }

@media only screen and (min-width: 992px) {
  .mgbt0-md {
    margin-bottom: 0px; }

  .mgbt50-md {
    margin-bottom: 50px; } }
.h100pr {
  height: 100%; }

/*----------------*\
	TOOLTIP
\*----------------*/
/***
*------------------------------ 2. OTHER -----
*---------------------------------------------
*/
/*----------------*\
	PLUGIN
\*----------------*/
.select2-container {
  width: 100% !important; }

.select2-container--default .select2-selection--single {
  height: 42px;
  background: #fff;
  border: 1px solid #bcbdc0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 100%;
  line-height: 42px;
  color: #bcbdc0; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  width: 40px;
  top: 0; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-left: -2px;
  margin-top: -4px;
  border-color: #f48120 transparent transparent transparent;
  border-width: 8px 5px 0 5px; }

.select2-search--dropdown .select2-search__field {
  height: 36px; }

.select-2-clear .select2-container--default .select2-selection--single {
  background: transparent;
  border: 1px solid #fff; }
.select-2-clear .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff; }
.select-2-clear .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent; }

.icheckbox_square-custom,
.iradio_square-custom {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background: url("../images/custom-check.png") no-repeat;
  border: none;
  cursor: pointer; }

.icheckbox_square-custom {
  background-position: 0 0; }

.icheckbox_square-custom.hover {
  background-position: -32px 0; }

.icheckbox_square-custom.checked {
  background-position: -64px 0; }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_square-custom,
  .iradio_square-custom {
    background-image: url("../images/custom-check@2x.png");
    -webkit-background-size: 96px 32px;
    background-size: 96px 32px; } }
/*----------------*\
	GRID
\*----------------*/
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

/*----------------*\
	NAV
\*----------------*/
/*----------------*\
	MODAL
\*----------------*/
.modal-backdrop.in {
  opacity: .6; }

@media only screen and (min-width: 768px) {
  .modal-custom {
    max-width: 600px; } }

/*----------------*\
	SPACING
\*----------------*/
/*----------------*\
	FORM INPUT
\*----------------*/
.form-group.mgbt-10 {
  margin-bottom: 10px; }

/*----------------*\
	RADIO
\*----------------*/
/*----------------*\
	BUTTON
\*----------------*/
/*----------------*\
	BREAKCRUMB
\*----------------*/
.breadcrumb {
  background: none;
  padding: 13px 0;
  margin-bottom: 0px; }
  .breadcrumb .breadcrumb-item a {
    color: #bcbdc0; }
    .breadcrumb .breadcrumb-item a:hover {
      color: #f48120; }
  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: '/'; }

/*----------------*\
	CARD
\*----------------*/
/*----------------*\
	PAGINATION
\*----------------*/
.page-numbers {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px 0 0;
  border: 1px solid #eee;
  line-height: 1;
  text-decoration: none;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.page-numbers.current,
a.page-numbers:hover {
  background: #f48120;
  color: #fff; }

.navbar-header.top-header {
  background-color: #404041; }
  .navbar-header.top-header .navbar {
    padding: 0; }
    .navbar-header.top-header .navbar .navbar-nav {
      margin-top: 0px; }
  .navbar-header.top-header .nav-item .nav-link {
    color: #fff; }
    .navbar-header.top-header .nav-item .nav-link:hover {
      color: #f48120; }
.navbar-header .navbar-brand img {
  width: 180px; }
  @media only screen and (max-width: 991px) {
    .navbar-header .navbar-brand img {
      width: 130px; } }
.navbar-header .nav-item:hover .nav-link {
  color: #f48120; }
.navbar-header .nav-item.active .nav-link {
  color: #f48120; }

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #000; }

.navbar-light .navbar-nav .nav-item .nav-link:focus,
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active > .nav-link,
.navbar-light .navbar-nav .nav-item .nav-link.active,
.navbar-light .navbar-nav .nav-item .nav-link.show,
.navbar-light .navbar-nav .nav-item .show > .nav-link {
  color: #f48120; }

.navbar-light .navbar-toggler {
  padding: .25rem 0;
  color: #f48120;
  border-color: #f48120;
  border: none;
  outline: none; }
  .navbar-light .navbar-toggler:focus {
    outline: none; }

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/icon/mobi-btn.svg"); }

@media only screen and (max-width: 991px) {
  .navbar-nav {
    margin-top: 20px; }
    .navbar-nav .nav-link {
      padding: 10px 15px; }

  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    background: rgba(244, 129, 32, 0.5); }

  .dropdown-menu {
    border: none !important; }

  .dropdown-item {
    padding: .35rem 1.5rem; } }
.mid-footer {
  background: #404041; }
  .mid-footer .logo-footer img {
    width: 60px; }
  .mid-footer .link-item a {
    color: #f48120; }
    .mid-footer .link-item a:hover {
      color: #fff; }

.bottom-footer {
  padding: 10px 0; }
  .bottom-footer p {
    margin-bottom: 0; }

.list-social .nav-link {
  color: #fff;
  font-size: 2.1428571429em; }
  .list-social .nav-link:hover,
  .list-social .nav-link .active {
    color: #f48120; }

.custom-bullis .item.item-spec a span, .sec-find-by-job .wrap-item .item.item-spec a span {
  font-family: "san_francisco_text_regularRg", arial, Helvetica, sans-serif; }

body {
  font-family: "san_francisco_textregular_g1", arial, Helvetica, sans-serif; }

.text-thin {
  font-family: "san_francisco_textthin", arial, Helvetica, sans-serif; }

.text-lig {
  font-family: "san_francisco_textlight", arial, Helvetica, sans-serif; }

.btn-custom, .text-bold, .breadcrumb .breadcrumb-item.active, .navbar-header.top-header .nav-item .nav-link, .navbar-header .nav-item.active .nav-link, .mid-footer .link-item a, .nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active, .custom-bullis .item.item-spec a, .sec-find-by-job .wrap-item .item.item-spec a {
  font-family: "san_francisco_textbold", arial, Helvetica, sans-serif; }

.rt::before {
  font-family: "icofont", arial, Helvetica, sans-serif; }

a {
  -webkit-transition: 0.3s;
  -khtml-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

html, body, .btn-custom, a:hover, a.active, .page-numbers, .page-numbers.current,
a.page-numbers:hover, .wrapper {
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

/*----------------*\
    Wrap, Inner, Container
\*----------------*/
.wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 1; }

.inner {
  width: 100%;
  margin: 0 auto; }

.main-content {
  padding: 0; }

/*----------------*\
    CAROSEL
\*----------------*/
.big-slider.owl-theme .owl-nav.disabled + .owl-dots {
  margin: 0; }
.big-slider.owl-theme .owl-dots {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: 0 auto; }
.big-slider.owl-theme .owl-dots .owl-dot.active span, .big-slider.owl-theme .owl-dots .owl-dot:hover span {
  background: #f48120; }
.big-slider.owl-theme .owl-dots .owl-dot {
  outline: none; }
.big-slider.owl-theme .owl-dots .owl-dot span {
  background: #bcbdc0; }

.mini-slider .owl-stage-outer {
  z-index: 1; }
.mini-slider .owl-nav {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0; }
  .mini-slider .owl-nav button.owl-prev {
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 10px 7px 0;
    border-color: transparent #fff transparent transparent; }
    .mini-slider .owl-nav button.owl-prev:hover {
      background: transparent;
      color: initial;
      text-decoration: none; }
    .mini-slider .owl-nav button.owl-prev span {
      font-size: 0; }
  .mini-slider .owl-nav button.owl-next {
    position: absolute;
    right: -20px;
    top: 50%;
    margin-top: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent #fff; }
    .mini-slider .owl-nav button.owl-next:hover {
      background: transparent;
      color: initial;
      text-decoration: none; }
    .mini-slider .owl-nav button.owl-next span {
      font-size: 0; }
.mini-slider.nav-ora.nav-ora-big-arr .owl-nav button.owl-prev {
  left: -60px;
  margin-top: -10px;
  border-width: 13px 18px 12px 0;
  border-color: transparent #f48120 transparent transparent; }
.mini-slider.nav-ora.nav-ora-big-arr .owl-nav button.owl-next {
  right: -60px;
  margin-top: -10px;
  border-width: 13px 0 12px 18px;
  border-color: transparent transparent transparent #f48120; }
@media only screen and (max-width: 1255px) {
  .mini-slider.nav-ora.nav-ora-big-arr .owl-nav button.owl-prev {
    left: -30px; }
  .mini-slider.nav-ora.nav-ora-big-arr .owl-nav button.owl-next {
    right: -30px; } }

/*----------------*\
    EDITOR
\*----------------*/
.trumbowyg-box, .trumbowyg-editor {
  margin: 0 auto;
  min-height: 200px; }

.trumbowyg-editor, .trumbowyg-textarea {
  min-height: 200px; }

/*----------------*\
    ICON
\*----------------*/
.ico {
  display: inline-block; }
  .ico.w-26 {
    width: 26px;
    height: 26px; }
  .ico.w-34 {
    width: 34px;
    height: 34px; }
  .ico.w-60 {
    width: 60px;
    height: 60px; }
  .ico.ico-locale {
    background-image: url("../images/icon/icon-location.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-job-now {
    background-image: url("../images/icon/icon-job-now.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-job-new {
    background-image: url("../images/icon/icon-job-new.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-cv-new {
    background-image: url("../images/icon/icon-cv.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-rcv-top {
    background-image: url("../images/icon/icon-cv-top.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-newSpaper {
    background-image: url("../images/icon/icon-newspaper.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-support {
    background-image: url("../images/icon/icon-support.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-cmt {
    background-image: url("../images/icon/icon-comment.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-qa {
    background-image: url("../images/icon/icon-qa.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-about {
    background-image: url("../images/icon/icon-about.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-reason {
    background-image: url("../images/icon/icon-reason.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-news {
    background-image: url("../images/icon/icon-news.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-info-acc {
    background-image: url("../images/icon/icon-info-acc.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-info-date {
    background-image: url("../images/icon/icon-info-date.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-info-money {
    background-image: url("../images/icon/icon-info-money.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-info-quantity {
    background-image: url("../images/icon/icon-info-quantity.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-info-time {
    background-image: url("../images/icon/icon-info-time.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-info-locate {
    background-image: url("../images/icon/icon-info-locate.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-info-type {
    background-image: url("../images/icon/icon-info-type.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-info-job {
    background-image: url("../images/icon/icon-info-job.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-info-vitri {
    background-image: url("../images/icon/icon-info-vitri.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .ico.ico-info-detail-home {
    width: 28px;
    height: 28px;
    background-image: url("../images/icon/icon-info-acc-detail-1.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-position: 0px 3px;
    background-size: 28px auto; }
  .ico.ico-info-detail-genre {
    width: 28px;
    height: 28px;
    background-image: url("../images/icon/icon-info-acc-detail-1.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-position: 0px -43px;
    background-size: 28px auto; }
  .ico.ico-info-detail-intro {
    width: 28px;
    height: 28px;
    background-image: url("../images/icon/icon-info-acc-detail-1.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-position: 0px -88px;
    background-size: 28px auto; }
  .ico.ico-acc-info {
    width: 50px;
    height: 50px;
    background-image: url("../images/icon/icon-info-acc-detail-2.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 200px 100px; }
    .ico.ico-acc-info.ico-acc-info-1 {
      background-color: transparent;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center top;
      background-position: 0px 0; }
    .ico.ico-acc-info.ico-acc-info-2 {
      background-color: transparent;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center top;
      background-position: -50px 0; }
    .ico.ico-acc-info.ico-acc-info-3 {
      background-color: transparent;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center top;
      background-position: -100px 0; }
    .ico.ico-acc-info.ico-acc-info-4 {
      background-color: transparent;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center top;
      background-position: -150px 0; }
    .ico.ico-acc-info.ico-acc-info-5 {
      background-color: transparent;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center top;
      background-position: 0px -50px; }
    .ico.ico-acc-info.ico-acc-info-6 {
      background-color: transparent;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center top;
      background-position: -50px -50px; }
    .ico.ico-acc-info.ico-acc-info-7 {
      background-color: transparent;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center top;
      background-position: -100px -50px; }
    .ico.ico-acc-info.ico-acc-info-8 {
      background-color: transparent;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center top;
      background-position: -150px -50px; }

.ico-top-1 {
  position: relative;
  top: 1px; }

.ico-top-2 {
  position: relative;
  top: 2px; }

.ico-bottom-1 {
  position: relative;
  bottom: 1px; }

.ico-bottom-2 {
  position: relative;
  bottom: 2px; }

i.clip-ico {
  position: relative;
  top: 2px;
  margin-right: 3px;
  color: #f48120; }

.rt {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer; }
  .rt::before {
    content: "\f000";
    font-size: 1.7142857143em; }
  .rt.rt-empty::before {
    color: #bcbdc0; }
  .rt.rt-filled::before {
    color: #f48120; }
  .rt.s16 {
    margin-right: 0px; }
    .rt.s16::before {
      font-size: 1.1428571429em; }
  .rt.s26 {
    margin-right: 0px; }
    .rt.s26::before {
      font-size: 1.8571428571em; }
  .rt.m0 {
    margin-right: 0px; }
  .rt.m3 {
    margin-right: 3px; }

.chat-box {
  display: inline-block;
  padding: 4px 0;
  width: 37px;
  height: 34px;
  background-image: url("../images/icon/ico-chat-box.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: 100%;
  text-align: center; }

.dot-noti {
  width: 8px;
  height: 8px;
  display: block;
  background: red;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 2px; }

/*----------------*\
    PAGINATION
\*----------------*/
.page-pagination .pagination {
  justify-content: flex-end;
  margin-bottom: 0; }
.page-pagination .page-link {
  color: #bcbdc0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 1em;
  margin: 0 2px 0; }
.page-pagination .page-item.active .page-link {
  background: #fff;
  color: #f48120;
  border: 1px solid #f48120; }
.page-pagination .page-item:last-child .page-link, .page-pagination .page-item:first-child .page-link {
  padding: .25rem .35rem;
  border: 1px solid #f48120;
  background: #f48120;
  color: #fff;
  font-size: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
.page-pagination .page-item.page-more .page-link {
  padding: .5rem .65rem; }

/*----------------*\
    NAV TAB
\*----------------*/
.nav-tabs {
  position: relative;
  z-index: 0;
  border: none; }

.nav-tabs .nav-link {
  padding: 12px 0 13px;
  position: relative;
  color: #fff;
  background-color: #bcbdc0;
  border-color: #bcbdc0 #bcbdc0 #bcbdc0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }
  .nav-tabs .nav-link.nav-link:focus, .nav-tabs .nav-link.nav-link:hover {
    border-color: #bcbdc0 #bcbdc0 #bcbdc0; }

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  border-color: #f48120 #f48120 #f48120;
  background-color: #f48120;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }
  .nav-tabs .nav-item.show .nav-link.nav-link:focus, .nav-tabs .nav-item.show .nav-link.nav-link:hover,
  .nav-tabs .nav-link.active.nav-link:focus,
  .nav-tabs .nav-link.active.nav-link:hover {
    border-color: #f48120 #f48120 #f48120; }

.nav-tabs.with-cus-2 .nav-link {
  border-color: #006c98 #006c98 #006c98;
  background-color: #006c98; }

.tab-content {
  position: relative;
  z-index: 1;
  background-color: #fff; }
  .tab-content.with-cus {
    background-color: #f48120;
    padding: 3px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    -ms-border-bottom-right-radius: 8px;
    -o-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    -ms-border-bottom-left-radius: 8px;
    -o-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px; }
    .tab-content.with-cus > .tab-pane {
      background: #fff;
      -webkit-border-top-left-radius: 8px;
      -moz-border-top-left-radius: 8px;
      -ms-border-top-left-radius: 8px;
      -o-border-top-left-radius: 8px;
      border-top-left-radius: 8px;
      -webkit-border-top-right-radius: 8px;
      -moz-border-top-right-radius: 8px;
      -ms-border-top-right-radius: 8px;
      -o-border-top-right-radius: 8px;
      border-top-right-radius: 8px;
      -webkit-border-bottom-left-radius: 8px;
      -moz-border-bottom-left-radius: 8px;
      -ms-border-bottom-left-radius: 8px;
      -o-border-bottom-left-radius: 8px;
      border-bottom-left-radius: 8px;
      -webkit-border-bottom-right-radius: 8px;
      -moz-border-bottom-right-radius: 8px;
      -ms-border-bottom-right-radius: 8px;
      -o-border-bottom-right-radius: 8px;
      border-bottom-right-radius: 8px; }
  .tab-content.with-cus-2 {
    background-color: #006c98;
    padding: 3px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    -ms-border-bottom-left-radius: 8px;
    -o-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    -ms-border-bottom-right-radius: 8px;
    -o-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px; }
    .tab-content.with-cus-2 > .tab-pane {
      background: #fff;
      -webkit-border-top-left-radius: 8px;
      -moz-border-top-left-radius: 8px;
      -ms-border-top-left-radius: 8px;
      -o-border-top-left-radius: 8px;
      border-top-left-radius: 8px;
      -webkit-border-top-right-radius: 8px;
      -moz-border-top-right-radius: 8px;
      -ms-border-top-right-radius: 8px;
      -o-border-top-right-radius: 8px;
      border-top-right-radius: 8px;
      -webkit-border-bottom-left-radius: 8px;
      -moz-border-bottom-left-radius: 8px;
      -ms-border-bottom-left-radius: 8px;
      -o-border-bottom-left-radius: 8px;
      border-bottom-left-radius: 8px;
      -webkit-border-bottom-right-radius: 8px;
      -moz-border-bottom-right-radius: 8px;
      -ms-border-bottom-right-radius: 8px;
      -o-border-bottom-right-radius: 8px;
      border-bottom-right-radius: 8px; }
    .tab-content.with-cus-2 .btn-wrap {
      padding-bottom: 20px; }
  .tab-content.with-cus-side {
    -webkit-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -ms-border-top-right-radius: 8px;
    -o-border-top-right-radius: 8px;
    border-top-right-radius: 8px; }
  .tab-content.with-border-1 {
    border: 3px solid #f48120; }
  .tab-content.with-border-2 {
    border: 3px solid #006c98; }

.tab-wrap {
  /* ----------------------- RESPONSIVE */ }
  .tab-wrap .nav-link {
    br-display: none; }
    @media only screen and (max-width: 767px) {
      .tab-wrap .nav-link {
        br-display: block; } }
  .tab-wrap.tab-left.tab-type-1 .item {
    border-bottom: 1px solid #f48120; }
    .tab-wrap.tab-left.tab-type-1 .item:last-child {
      padding-bottom: 0 !important;
      border-bottom: none; }
    .tab-wrap.tab-left.tab-type-1 .item .col-cus-1 {
      /* ----------------------- RESPONSIVE */ }
      @media only screen and (min-width: 992px) {
        .tab-wrap.tab-left.tab-type-1 .item .col-cus-1 {
          max-width: 15%; }
          .tab-wrap.tab-left.tab-type-1 .item .col-cus-1:before {
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            margin-top: -25px;
            display: block;
            height: 50px;
            width: 1px;
            background: #f48120; } }
    .tab-wrap.tab-left.tab-type-1 .item .col-cus-2 {
      /* ----------------------- RESPONSIVE */ }
      @media only screen and (min-width: 992px) {
        .tab-wrap.tab-left.tab-type-1 .item .col-cus-2 {
          max-width: 85%; } }
  .tab-wrap.tab-left.tab-type-2 .item {
    border-bottom: 1px solid #f48120; }
    .tab-wrap.tab-left.tab-type-2 .item:last-child {
      border: none; }
  @media only screen and (max-width: 991px) {
    .tab-wrap.tab-left.tab-type-2 .item-mb-title .colapsed-cus {
      position: relative;
      padding: 5px 0;
      background: #f48120;
      -webkit-border-top-left-radius: 8px;
      -moz-border-top-left-radius: 8px;
      -ms-border-top-left-radius: 8px;
      -o-border-top-left-radius: 8px;
      border-top-left-radius: 8px;
      -webkit-border-top-right-radius: 8px;
      -moz-border-top-right-radius: 8px;
      -ms-border-top-right-radius: 8px;
      -o-border-top-right-radius: 8px;
      border-top-right-radius: 8px; }
      .tab-wrap.tab-left.tab-type-2 .item-mb-title .colapsed-cus.collapsed {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px; }
    .tab-wrap.tab-left.tab-type-2 .item-mb-title .clo-ora {
      color: #fff; }
    .tab-wrap.tab-left.tab-type-2 .item-mb-title .clo-grey {
      color: #fff; }
    .tab-wrap.tab-left.tab-type-2 .item-mb-title .arr {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -8px;
      font-size: 16px;
      color: #fff; }
    .tab-wrap.tab-left.tab-type-2 .item-mb-content {
      border-style: solid;
      border-color: #f48120;
      border-width: 0 1px 1px 1px;
      -webkit-border-bottom-left-radius: 8px;
      -moz-border-bottom-left-radius: 8px;
      -ms-border-bottom-left-radius: 8px;
      -o-border-bottom-left-radius: 8px;
      border-bottom-left-radius: 8px;
      -webkit-border-bottom-right-radius: 8px;
      -moz-border-bottom-right-radius: 8px;
      -ms-border-bottom-right-radius: 8px;
      -o-border-bottom-right-radius: 8px;
      border-bottom-right-radius: 8px; }
    .tab-wrap.tab-left.tab-type-2 .item-mb {
      border-bottom: 1px solid #f48120; }
      .tab-wrap.tab-left.tab-type-2 .item-mb:last-child {
        border-bottom: none; }
    .tab-wrap.tab-left.tab-type-2 .btn-custom-mb {
      padding: .788rem .75rem; } }
  .tab-wrap.tab-right.tab-type-1 .item-wrap .item:last-child {
    margin-bottom: 0 !important;
    border-bottom: none; }

/*----------------*\
    Custom Bullet
\*----------------*/
.custom-bullis .item::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #808285;
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */ }
.custom-bullis .item a {
  color: #808285; }
  .custom-bullis .item a span {
    color: #f48120; }
.custom-bullis .item.item-spec::before {
  color: #f48120; }
.custom-bullis .item.item-spec a {
  color: #f48120; }

.checkBox {
  position: relative; }
  .checkBox .iradio_minimal-orange {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -9px; }
  .checkBox label {
    display: block;
    padding: 10px 38px 9px 15px;
    cursor: pointer;
    margin: 0; }

.box-filter-wrap {
  position: absolute;
  z-index: 2;
  max-width: 200px;
  width: 100%; }

.box-filter {
  background: #fff;
  border: 1px solid #f48120; }
  .box-filter .icheckbox_filter {
    margin-bottom: 5px;
    display: inline-block; }

.custom-bullis .item.item-spec a span, .sec-find-by-job .wrap-item .item.item-spec a span {
  font-family: "san_francisco_text_regularRg", arial, Helvetica, sans-serif; }

body {
  font-family: "san_francisco_textregular_g1", arial, Helvetica, sans-serif; }

.text-thin {
  font-family: "san_francisco_textthin", arial, Helvetica, sans-serif; }

.text-lig {
  font-family: "san_francisco_textlight", arial, Helvetica, sans-serif; }

.btn-custom, .text-bold, .breadcrumb .breadcrumb-item.active, .navbar-header.top-header .nav-item .nav-link, .navbar-header .nav-item.active .nav-link, .mid-footer .link-item a, .nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active, .custom-bullis .item.item-spec a, .sec-find-by-job .wrap-item .item.item-spec a {
  font-family: "san_francisco_textbold", arial, Helvetica, sans-serif; }

.rt::before {
  font-family: "icofont", arial, Helvetica, sans-serif; }

a {
  -webkit-transition: 0.3s;
  -khtml-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

html, body, .btn-custom, a:hover, a.active, .page-numbers, .page-numbers.current,
a.page-numbers:hover, .wrapper {
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.sec-career-search {
  background: #e6e7e8; }
  .sec-career-search .with-bg {
    position: relative;
    padding-top: 44px;
    padding-bottom: 44px;
    /* ----------------------- RESPONSIVE */ }
    .sec-career-search .with-bg::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0%;
      left: 0;
      z-index: 0;
      background-image: url("../images/bg/sec-2-bg-left.jpg");
      background-color: transparent;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center top;
      background-size: auto 100%;
      background-position: left top; }
      @media only screen and (max-width: 767px) {
        .sec-career-search .with-bg::before {
          background-position: center;
          opacity: 0.2; } }
    @media only screen and (min-width: 768px) {
      .sec-career-search .with-bg::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        right: 0;
        z-index: 0;
        background-image: url("../images/bg/sec-2-bg-right.jpg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center top;
        background-size: auto 100%;
        background-position: right top; } }
    .sec-career-search .with-bg > .row {
      position: relative;
      z-index: 1; }

.sec-career-province {
  background: #f48120; }

.sec-career-urgent .item {
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }
  .sec-career-urgent .item .btn-custom {
    position: absolute;
    top: 12px;
    right: 12px; }
  .sec-career-urgent .item img.brand {
    width: auto; }

.sec-recruitment-new {
  background: #f48120; }
  .sec-recruitment-new .item {
    /* ----------------------- RESPONSIVE */ }
    .sec-recruitment-new .item i.icofont-star {
      color: #f99f29; }
    @media only screen and (min-width: 992px) {
      .sec-recruitment-new .item .wrap {
        background-color: #fff; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .sec-recruitment-new .item a, .sec-recruitment-new .item p, .sec-recruitment-new .item span, .sec-recruitment-new .item i.icofont-star {
        color: #fff; }
      .sec-recruitment-new .item .wrap {
        background-color: transparent; } }
    @media only screen and (max-width: 767px) {
      .sec-recruitment-new .item .wrap {
        background-color: #fff; } }

.sec-find-by-job {
  background-image: url("../images/bg/map.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
  background-position: left center; }
  .sec-find-by-job .wrap-item .item::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #808285;
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */ }
  .sec-find-by-job .wrap-item .item a {
    color: #808285; }
    .sec-find-by-job .wrap-item .item a span {
      color: #f48120; }
  .sec-find-by-job .wrap-item .item.item-spec::before {
    color: #f48120; }
  .sec-find-by-job .wrap-item .item.item-spec a {
    color: #f48120; }

.sec-support {
  background: #e5e5e5; }
  .sec-support .item-support img {
    width: 100%;
    max-width: 100px;
    max-height: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #e99f3d; }
  .sec-support .item-support .logo-skype {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../images/logo-skype.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100%; }
  .sec-support .item-support .skype-phone {
    display: inline-block;
    position: relative;
    bottom: 7px;
    margin-left: 5px;
    color: #20A0EF; }
    .sec-support .item-support .skype-phone:hover {
      color: #f48120; }

.sec-num {
  background: #f48120; }
  .sec-num .item-1 img {
    width: 45px; }
  .sec-num .item-2 img {
    width: 52px; }
  .sec-num .item-3 img {
    width: 68px; }
  .sec-num .item-4 img {
    width: 62px; }

.sec-cmt-list .with-bg {
  background: #e7e7e9; }

.sec-news .blk-1 {
  /* ----------------------- RESPONSIVE */ }
  @media only screen and (min-width: 992px) {
    .sec-news .blk-1 .blk-1-l {
      border-right: 1px solid #f48120; }
    .sec-news .blk-1 .blk-1-r > .row > .col-12 > .item-wrap .item {
      border-bottom: 1px solid #f48120; }
    .sec-news .blk-1 .blk-1-r > .row > .col-12:last-child .item {
      border-bottom: none; } }
.sec-news .blk-2 {
  /* ----------------------- RESPONSIVE */ }
  @media only screen and (min-width: 0px) {
    .sec-news .blk-2 .blk-2-l .item {
      border-bottom: 1px solid #f48120; }
      .sec-news .blk-2 .blk-2-l .item:last-child {
        border-bottom: none; } }

.sec-call-center {
  background: #f48120; }

.sticky {
  position: fixed;
  top: 0px;
  z-index: 9;
  width: 250px;
  padding-top: 20px;
  background: #fff;
  /* ----------------------- RESPONSIVE */ }
  @media only screen and (max-width: 991px) {
    .sticky {
      width: calc(100% - 60px); } }

/*# sourceMappingURL=style.css.map */
