// IMPORT
@import "_sass-element";

// --------------------------------------------------
// ---------------------------------------- SECTION -
// --------------------------------------------------

    /*----------------*\
        Wrap, Inner, Container
    \*----------------*/

        .wrapper {
            width: 100%; max-width: 100%;
            position: relative; z-index: 1;
            // top: 0; bottom: 100%; left: 0; 
            // @include scss_css3_prefix(font-smoothing, antialiased);
            @extend %tran-all;
        }

        .inner {
            width: 100%;
            margin: 0 auto;
        }

        .main-content {
            padding: 0;
            // --------- RESPONSIVE
            @include scss_maxw($br767) {
                
            }
        }

// --------------------------------------------------
// ------------------------------------------ OTHER -
// --------------------------------------------------
/*----------------*\
    CAROSEL
\*----------------*/
    .big-slider {
        &.owl-theme .owl-nav.disabled+.owl-dots {
            margin: 0;
        }
        &.owl-theme .owl-dots {
            position: absolute; bottom: 5px; left: 0; right: 0; margin: 0 auto;
        }

        &.owl-theme .owl-dots .owl-dot.active span, 
        &.owl-theme .owl-dots .owl-dot:hover span {
            background: $clor;
        }

        &.owl-theme .owl-dots .owl-dot {
            outline: none;
        }

        &.owl-theme .owl-dots .owl-dot span {
            background: #bcbdc0;
        }
    }

    .mini-slider {
        .owl-stage-outer {
            z-index: 1;
        }

        .owl-nav {
            position: absolute; z-index: 0; top: 0; 
            width: 100%; height: 100%; margin: 0;

            button.owl-prev {
                position: absolute; left: -20px; top: 50%; margin-top: -7px;
                width: 0; height: 0;
                border-style: solid;
                border-width: 7px 10px 7px 0;
                border-color: transparent $clw transparent transparent;

                &:hover {
                    background: transparent;
                    color: initial;
                    text-decoration: none;
                }

                span {
                    font-size: 0;
                }
            }

            button.owl-next {
                position: absolute; right: -20px; top: 50%; margin-top: -7px;
                width: 0; height: 0;
                border-style: solid;
                border-width:  7px 0 7px 10px;
                border-color: transparent transparent transparent $clw ;

                &:hover {
                    background: transparent;
                    color: initial;
                    text-decoration: none;
                }

                span {
                    font-size: 0;
                }
            }
        }

        &.nav-ora {
            &.nav-ora-big-arr {
                .owl-nav {
                    button.owl-prev {
                        left: -60px;
                        margin-top: -10px;
                        border-width: 13px 18px 12px 0;
                        border-color: transparent $clor transparent transparent;
                    }
            
                    button.owl-next {
                        right: -60px;
                        margin-top: -10px;
                        border-width:  13px 0 12px 18px;
                        border-color: transparent transparent transparent $clor ;
                    }

                    // --------- RESPONSIVE
                    @include scss_maxw(1255px) {
                        button.owl-prev {
                            left: -30px;
                        }
                
                        button.owl-next {
                            right: -30px;
                        }
                    }
                }
            }
            
        }
    }

/*----------------*\
    EDITOR
\*----------------*/
    .trumbowyg-box, .trumbowyg-editor {
        margin: 0 auto;
        min-height: 200px;
    }

    .trumbowyg-editor, .trumbowyg-textarea {
        min-height: 200px;
    }

/*----------------*\
    ICON
\*----------------*/
    .ico {
        display: inline-block;

        &.w-26 { width: 26px; height: 26px; }
        &.w-34 { width: 34px; height: 34px; }
        &.w-60 { width: 60px; height: 60px; }

        &.ico-locale  {
            @include scss_bg_img('icon/icon-location.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-job-now  {
            @include scss_bg_img('icon/icon-job-now.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-job-new  {
            @include scss_bg_img('icon/icon-job-new.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-cv-new  {
            @include scss_bg_img('icon/icon-cv.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-rcv-top {
            @include scss_bg_img('icon/icon-cv-top.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-newSpaper {
            @include scss_bg_img('icon/icon-newspaper.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-support {
            @include scss_bg_img('icon/icon-support.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-cmt {
            @include scss_bg_img('icon/icon-comment.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-qa {
            @include scss_bg_img('icon/icon-qa.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-about {
            @include scss_bg_img('icon/icon-about.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-reason {
            @include scss_bg_img('icon/icon-reason.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-news {
            @include scss_bg_img('icon/icon-news.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-info-acc  {
            @include scss_bg_img('icon/icon-info-acc.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        // info jobe
        &.ico-info-date {
            @include scss_bg_img('icon/icon-info-date.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-info-money {
            @include scss_bg_img('icon/icon-info-money.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-info-quantity {
            @include scss_bg_img('icon/icon-info-quantity.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-info-time {
            @include scss_bg_img('icon/icon-info-time.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-info-locate {
            @include scss_bg_img('icon/icon-info-locate.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-info-type {
            @include scss_bg_img('icon/icon-info-type.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-info-job {
            @include scss_bg_img('icon/icon-info-job.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        &.ico-info-vitri {
            @include scss_bg_img('icon/icon-info-vitri.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        // 
        &.ico-info-detail-home {
            width: 28px; height: 28px;
            @include scss_bg_img('icon/icon-info-acc-detail-1.png');
            @include scss_bg_content() {
                background-position: 0px 3px; 
                background-size: 28px auto; 
            };
        }

        &.ico-info-detail-genre {
            width: 28px; height: 28px;
            @include scss_bg_img('icon/icon-info-acc-detail-1.png');
            @include scss_bg_content() {
                background-position: 0px -43px; 
                background-size: 28px auto; 
            };
        }

        &.ico-info-detail-intro {
            width: 28px; height: 28px;
            @include scss_bg_img('icon/icon-info-acc-detail-1.png');
            @include scss_bg_content() {
                background-position: 0px -88px; 
                background-size: 28px auto; 
            };
        }

        &.ico-acc-info {
            width: 50px; height: 50px;
            @include scss_bg_img('icon/icon-info-acc-detail-2.png');
            @include scss_bg_content() {
                background-size: 200px 100px 
            };

            &.ico-acc-info-1 {
                @include scss_bg_content() {
                    background-position: 0px 0; 
                };
            }

            &.ico-acc-info-2 {
                @include scss_bg_content() {
                    background-position: -50px 0; 
                };
            }

            &.ico-acc-info-3 {
                @include scss_bg_content() {
                    background-position: -100px 0; 
                };
            }

            &.ico-acc-info-4 {
                @include scss_bg_content() {
                    background-position: -150px 0; 
                };
            }

            &.ico-acc-info-5 {
                @include scss_bg_content() {
                    background-position: 0px -50px; 
                };
            }

            &.ico-acc-info-6 {
                @include scss_bg_content() {
                    background-position: -50px -50px; 
                };
            }

            &.ico-acc-info-7 {
                @include scss_bg_content() {
                    background-position: -100px -50px; 
                };
            }

            &.ico-acc-info-8 {
                @include scss_bg_content() {
                    background-position: -150px -50px; 
                };
            }
        }
        
    }

    .ico-top-1 { position: relative; top: 1px; }
    .ico-top-2 { position: relative; top: 2px; }

    .ico-bottom-1 { position: relative; bottom: 1px; }
    .ico-bottom-2 { position: relative; bottom: 2px; }

    i.clip-ico {
        position: relative; top: 2px;
        margin-right: 3px;
        color: $clor;
    }

    // rating
    .rt {
        display: inline-block; margin-right: 10px; 
        cursor: pointer;

        &::before {
            content: "\f000"; 
            @extend %icoFont;
            @include scss_fs(24);
        }

        &.rt-empty::before {
            color: $clgrey;
        }

        &.rt-filled::before {
            color: $clor;
        }

        &.s16 {
            margin-right: 0px;

            &::before {
                @include scss_fs(16);
            }
        }

        &.s26 {
            margin-right: 0px;

            &::before {
                @include scss_fs(26);
            }
        }

        &.m0 { margin-right: 0px;  }
        &.m3 { margin-right: 3px;  }
    }

    // chat num
    .chat-box {
        display: inline-block; padding: 4px 0;
        width: 37px; height: 34px;
        @include scss_bg_img('icon/ico-chat-box.png');
        @include scss_bg_content() {
            background-size: 100%;
        };
        text-align: center;
    }

    // noti dot
    .dot-noti {
        width: 8px; height: 8px; display: block;
        background: red;
        @include scss_border_radius(8px);
        position: absolute; top: 0; left: 2px;
    }


/*----------------*\
    PAGINATION
\*----------------*/


    .page-pagination {

        .pagination {
            justify-content: flex-end;
            margin-bottom: 0;
        }

        .page-link {
            color: $clgrey;
            @include scss_border_radius(5px);
            @include scss_fs(14);
            margin: 0 2px 0;
        }

        .page-item {
            &.active {
                .page-link {
                    background: $clw;
                    color: $clor;
                    border: 1px solid $clor;
                }
            }

            &:last-child,
            &:first-child {
                .page-link {
                    padding: .25rem .35rem;;
                    border: 1px solid $clor;
                    background: $clor;
                    color: $clw;
                    font-size: 20px;
                    @include scss_border_radius(5px);
                    
                }
            }

            &.page-more {
                .page-link {
                    padding: .5rem .65rem;;
                    
                }
            }
        }
    }


/*----------------*\
    NAV TAB
\*----------------*/

    .nav-tabs {
        position: relative; z-index: 0;
        border: none;
    }

    .nav-tabs .nav-link {
        padding: 12px 0 13px; 
        position: relative;
        @extend %sfBold;
        color: $clw;
        background-color: #bcbdc0;
        border-color: #bcbdc0 #bcbdc0 #bcbdc0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        &.nav-link:focus, 
        &.nav-link:hover {
            border-color: #bcbdc0 #bcbdc0 #bcbdc0;
        }
    }

    .nav-tabs .nav-item.show .nav-link, 
    .nav-tabs .nav-link.active {
        @extend %sfBold;
        color: $clw;
        border-color: $clor $clor $clor;
        background-color: $clor;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        &.nav-link:focus, 
        &.nav-link:hover {
            border-color: $clor $clor $clor;
        }
    }

    .nav-tabs  {
        &.with-cus-2 { 
            .nav-link {
                border-color: $clblue $clblue $clblue;
                background-color: $clblue;
            }
        }
    }

    .tab-content {
        position: relative; z-index: 1;
        background-color: $clw;

        &.with-cus { 
            background-color: $clor; padding: 3px; 
            @include scss_border_side_radius(bottom-right, 8px);
            @include scss_border_side_radius(bottom-left, 8px);
            
            & > .tab-pane {
                background: $clw;
                @include scss_border_side_radius(top-left, 8px);
                @include scss_border_side_radius(top-right, 8px);
                @include scss_border_side_radius(bottom-left, 8px);
                @include scss_border_side_radius(bottom-right, 8px);
            }
        }

        &.with-cus-2 { 
            background-color: $clblue; padding: 3px; 
            @include scss_border_side_radius(bottom-left, 8px);
            @include scss_border_side_radius(bottom-right, 8px);
            
            & > .tab-pane {
                background: $clw;
                @include scss_border_side_radius(top-left, 8px);
                @include scss_border_side_radius(top-right, 8px);
                @include scss_border_side_radius(bottom-left, 8px);
                @include scss_border_side_radius(bottom-right, 8px);
            }

            .btn-wrap {
                padding-bottom: 20px;
            }
        }

        &.with-cus-side {
            @include scss_border_side_radius(top-right, 8px);
        }

        &.with-border-1 { border: 3px solid $clor; }
        &.with-border-2 { border: 3px solid $clblue; }
    }

    .tab-wrap {
        /* ----------------------- RESPONSIVE */
        .nav-link {
            br: {
                display: none;
            }
            @include scss_maxw(767px) {
                br: {
                    display: block;
                }
            }
        }

        &.tab-left {
            // 
            &.tab-type-1 {
                .item {
                    border-bottom: 1px solid $clor; 

                    &:last-child {
                        padding-bottom: 0 !important; 
                        border-bottom: none;
                    } 
 
                    .col-cus-1 {
                        /* ----------------------- RESPONSIVE */
                        @include scss_minw(992px) {  
                            max-width: 15%;

                            &:before {
                                content: "" ; position: absolute; 
                                top: 50%; right: 20px; margin-top: -25px;
                                display: block;
                                // border: 1px solid $clor;
                                height: 50px; width: 1px;
                                background: $clor
                            }
                        }
                    }

                    .col-cus-2 {
                        /* ----------------------- RESPONSIVE */
                        @include scss_minw(992px) {
                            max-width: 85%;
                        }
                    }
                }
            }

            // SERVICES PAGE
            &.tab-type-2 {
                .item {
                    border-bottom: 1px solid $clor;

                    &:last-child {
                        border: none;
                    }
                }


                // --------- RESPONSIVE
                @include scss_maxw(991px) {   

                    .item-mb-title {    
                        .colapsed-cus {
                            position: relative;
                            padding: 5px 0;
                            background: $clor;
                            @include scss_border_side_radius(top-left, 8px);
                            @include scss_border_side_radius(top-right, 8px);

                            &.collapsed {
                                @include scss_border_radius(8px);
                            }
                        }

                        .clo-ora {
                            color: $clw;
                        }

                        .clo-grey {
                            color: $clw;
                        }

                        .arr {
                            position: absolute; right: 10px; top: 50%; margin-top: -8px;
                            font-size: 16px;
                            color: $clw;
                        }
                    }

                    .item-mb-content {
                        border-style: solid;
                        border-color: $clor;
                        border-width: 0 1px 1px 1px;
                        @include scss_border_side_radius(bottom-left, 8px);
                        @include scss_border_side_radius(bottom-right, 8px);
                    }

                    .item-mb {
                        border-bottom: 1px solid $clor;

                        &:last-child {
                            border-bottom: none;
                        }
                    }

                    .btn-custom-mb {
                        padding: .788rem .75rem;
                    }
                }
            }
        }
  
        &.tab-right {
            &.tab-type-1 {
                .item-wrap {
                    .item {
                        &:last-child {
                            margin-bottom: 0 !important;
                            border-bottom: none;
                        }
                    }
                    
                    
                }
            }
        }
    }

/*----------------*\
    Custom Bullet
\*----------------*/

    .custom-bullis {

        .item {
            &::before {
                content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                color: #808285;
                font-weight: bold; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */ 
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em; /* Also needed for space (tweak if needed) */
            }
    
            a {
                color: #808285;
    
                span {
                    color: $clor;
                }
            }
    
            &.item-spec {
                &::before {
                    color: $clor;
                }
    
                a {
                    color: $clor;
                    @extend %sfBold;
    
                    span {
                        @extend %sfReg;
                    }
                }
            }
        }
    }

    .checkBox {
        position: relative;

        .iradio_minimal-orange {
            position: absolute; right: 10px; top: 50%; margin-top: -9px;
        }

        label {
            display: block;
            padding: 10px 38px 9px 15px;
            cursor: pointer;
            margin: 0;
        }
        // padding: 13px 38px 12px 15px;
        // border: 1px solid $clor;
        // @include scss_fs(14);

        // .icheckbox_line-orange, 
        // .iradio_line-orange {
        //     background: $clw;
        //     color: $clor;
        // }

        // .icheckbox_line-orange .icheck_line-icon, 
        // .iradio_line-orange .icheck_line-icon {
        //     left: auto; right: 13px;
        // }
    }

    .box-filter-wrap {
        position: absolute; z-index: 2;
        max-width: 200px; width: 100%;
    }

    .box-filter {    
        background: $clw;
        border: 1px solid $clor;

        .icheckbox_filter {
            margin-bottom: 5px;
            display: inline-block;
        }
    }