

// // --------------------------------------------------------------------
// // ------------------------------------------------------------- HEADER
// // --------------------------------------------------------------------

// FOOTER
.mid-footer {
    background: #404041;

    .logo-footer {
        img {
            width: 60px;
        }
    }

    .link-item {
        a {
            color: $clor;
            @extend %sfBold;

            &:hover {
                color: $clw;
            }
        }
    }
}

.bottom-footer {
    padding: 10px 0;

    p {
        margin-bottom: 0;
    }
}

.list-social {
    .nav-link {
        color: $clw;
        @include scss_fs(30);

        &:hover,
        .active {
            color: $clor;
        }
    }
}


//     // -------------- BOOTSTRAP
//     // NAV
//     footer {
//         &.navbar-footer {
//             position: absolute; bottom: 0;
//             z-index: 50;
//             width: 100%;
//         }

//         .navbar-expand-lg {
// 			.copyright {
// 				p {
// 					margin: 0; padding: 19px 0 15px;
// 					color: $clw;
// 					@include scss_fs(13);
// 				}
// 				// --------- RESPONSIVE
// 					@include scss_minw(992px) {
// 						padding-left: 15px;
// 					}
// 					@include scss_maxw(991px) {
// 						display: none;
// 					}

// 				&.clone {
// 					display: block;
// 					// --------- RESPONSIVE
// 					@include scss_minw(992px) {
// 						display: none;
// 					}
// 					p {
// 						font-size: 12px;
// 						padding-top: 5px;
// 					}
// 				}
// 			}

//             .navbar-nav {
//                 .nav-item {
// 					height: 57px;

//                     &.logo-fpt {
// 						img {
// 							height: 33px;
// 							// --------- RESPONSIVE 
// 							@include scss_maxw(539px) {
// 								height: 25px;
// 							}
// 						}

// 						.nav-link {
// 							// --------- RESPONSIVE
// 							@include scss_minw(992px) {
// 								padding: 14px 17px 10px;
// 							}
// 						}
// 					}

// 					&.logo-inter {
// 						img {
// 							height: 18px;
// 							// --------- RESPONSIVE 
// 							@include scss_maxw(539px) {
// 								height: 11px;
// 							}
// 						}

// 						.nav-link {
// 							// --------- RESPONSIVE
// 							@include scss_minw(992px) {
// 								padding: 18px 17px 17px;
// 							}
// 						}
// 					}

// 					&.logo-lqmb {
// 						img {
// 							height: 35px;
// 							// --------- RESPONSIVE 
// 							@include scss_maxw(539px) {
// 								height: 25px;
// 							}
// 						}

// 						.nav-link {
// 							// --------- RESPONSIVE
// 							@include scss_minw(992px) {
// 								padding: 11px 17px 11px;
// 							}
// 						}
// 					}

// 					&.logo-oppo {
// 						img {
// 							height: 35px;
// 							// --------- RESPONSIVE 
// 							@include scss_maxw(539px) {
// 								height: 25px;
// 							}
// 						}

// 						.nav-link {
// 							// --------- RESPONSIVE
// 							@include scss_minw(992px) {
// 								padding: 13px 17px 09px;
// 							}
// 						}
// 					}

// 					// --------- RESPONSIVE
// 					@include scss_maxw(991px) {
// 						height: auto;
// 						display: inline-block;
// 						margin: 0 10px;
// 					}
// 					// --------- RESPONSIVE
// 					@include scss_maxw(539px) {
// 						margin: 0 5px;
// 					}
//                 }

			
//             }
//         }

//         .navbar {
//             padding: 0;
            
//             .container {
// 				padding-left: 0;
//                 padding-right: 0;
//                 // --------- RESPONSIVE 
//                 @include scss_minw(1200px) {
                    
//                 }
//                 // --------- RESPONSIVE
//                 @include scss_maxw(1199px) {
// 					max-width: 100%;
// 					padding-left: 0;
//                     padding-right: 0;
//                 }
//             }

//             .nav {
// 				// --------- RESPONSIVE
//                 @include scss_minw(1200px) {
// 					width: calc(100% - 40px);
// 					margin: 0 auto; padding: 0 20px;
// 					position: relative;
// 					@include scss_bg_img('bg/footer-bg.png') {
// 						background-repeat: repeat-x;
// 					}
// 					-webkit-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.7);
// 					-moz-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.7);
// 					box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.7);
		
// 					&:before,
// 					&:after {
// 						width: 24px; height: 57px;
// 						content: ''; display: block;
// 						position: absolute; top: 0;
// 					}
		
// 					&:before {
// 						left: -20px;
// 						@include scss_bg_img('bg/footer-bg-side-left.png') {
// 							background-repeat: no-repeat;
// 						}
// 					}
		
// 					&:after { 
// 						right: -20px;
// 						@include scss_bg_img('bg/footer-bg-side-right.png') {
// 							background-repeat: no-repeat;
// 						}
// 					}
// 				}

//                 // --------- RESPONSIVE
//                 @include scss_maxw(1199px) {
// 					width: 100%; height: 57px;
//                     @include scss_bg_img('bg/footer-bg.png') {
//                         background-repeat: repeat-x;
//                     }
// 				}
// 				@include scss_maxw(991px) {
// 					display: block; text-align: center;
// 					height: initial; padding-top: 10px;
// 					border-top: 3px solid $clor;
// 					background-image: none;
// 					background: rgba(8,16,29,1);
// 					background: rgba(37,37,37,1);
// 					background: -moz-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(8,16,29,1) 100%);
// 					background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,37,37,1)), color-stop(100%, rgba(8,16,29,1)));
// 					background: -webkit-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(8,16,29,1) 100%);
// 					background: -o-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(8,16,29,1) 100%);
// 					background: -ms-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(8,16,29,1) 100%);
// 					background: linear-gradient(to bottom, rgba(37,37,37,1) 0%, rgba(8,16,29,1) 100%);
// 					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#08101d', GradientType=0 );
//                 }
// 			}
			
			
// 			.ml-auto {
// 				// --------- RESPONSIVE
// 				@include scss_maxw(991px) {
// 					margin: 0 auto;
// 				}
// 			}

// 			ul {
// 				// --------- RESPONSIVE
// 				@include scss_maxw(991px) {
// 					display: block;
// 					-webkit-box-orient: horizontal;
// 					-webkit-box-direction: normal;
// 					-ms-flex-direction: row;
// 					flex-direction: row;
// 				}
				
// 			}
// 		}
		
		
//     }

    