// --------------------------------------------------------------------
// ------------------------------------------------------------- HEADER
// --------------------------------------------------------------------
.navbar-header {
    &.top-header {
        background-color: #404041;

        .navbar {
            padding: 0;

            .navbar-nav {
                margin-top: 0px;
            }
        }

        .nav-item {
            .nav-link {
                @extend %sfBold;
                color: $clw;

                &:hover {
                    color: $clor;
                }
            }
        }
    }

    .navbar-brand {
        img {
            width: 180px;

            // --------- RESPONSIVE 
            @include scss_maxw(991px) {
                width: 130px;
            }
        }
    }

    .nav-item {
        &:hover {
            .nav-link {
                color: $clor;
            }
        }

        &.active {
            .nav-link {
                color: $clor;
                @extend %sfBold;
            }
        }
    }
}

//-------------------------- mobile section
    .navbar-light .navbar-nav .nav-item .nav-link {
        color: $clb;
    }
    .navbar-light .navbar-nav .nav-item .nav-link:focus,
    .navbar-light .navbar-nav .nav-item .nav-link:hover,
    .navbar-light .navbar-nav .nav-item.active>.nav-link,
    .navbar-light .navbar-nav .nav-item .nav-link.active,
    .navbar-light .navbar-nav .nav-item .nav-link.show,
    .navbar-light .navbar-nav .nav-item .show>.nav-link {
        color: $clor;
    }

    .navbar-light .navbar-toggler {
        padding: .25rem 0;
        color: $clor; border-color: $clor;
        border: none; outline: none;

        &:focus {
            outline: none;
        }
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url('../images/icon/mobi-btn.svg');
    }

    //-------------------------- RESPONSIVE
    @include scss_maxw(991px) {
        .navbar-nav {
            margin-top: 20px;
            
            .nav-link {
                padding: 10px 15px;
            }
        }
        .navbar-light .navbar-nav .nav-link:focus,
        .navbar-light .navbar-nav .nav-link:hover,
        .navbar-light .navbar-nav .active>.nav-link,
        .navbar-light .navbar-nav .nav-link.active,
        .navbar-light .navbar-nav .nav-link.show,
        .navbar-light .navbar-nav .show>.nav-link {
            background: rgba(244, 129, 32, 0.5);
        }

        .dropdown-menu {
            border: none !important;
        }
        .dropdown-item {
            padding: .35rem 1.5rem;
        }
    }









// header {
//     &.navbar-header {
//         position: absolute;
//         z-index: 50;
//         width: 100%;
//     }
//     .navbar-expand-xl {
//         .navbar-nav {
//             .nav-item {
//                 position: relative;
//                 z-index: 1;
//                 color: $clor;
//                 @extend %fBoldE;
//                 @include scss_fs(16);
//                 text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.64); // --------- RESPONSIVE 
//                 @include scss_minw(1200px) {
//                     &:before {
//                         content: '';
//                         display: block;
//                         position: absolute;
//                         bottom: 0;
//                         left: 50%;
//                         margin-left: -81px;
//                         z-index: 0;
//                         width: 162px;
//                         height: 54px;
//                         @include scss_opacity(0);
//                         @include scss_bg_img('hover-menu.png');
//                     }
//                     &:hover,
//                     &.active {
//                         a {
//                             // color: $clw; 
//                         }
//                         &::before {
//                             @include scss_opacity(1);
//                         }
//                     }
//                 }
//                 &:before {
//                     @extend %tran-all;
//                 }
//             }
            
//             .nav-link {
//                 position: relative;
//                 z-index: 1; 
//                 // --------- RESPONSIVE
//                 @include scss_minw(1200px) {
//                     padding: 16px 27px 18px;
//                 }
//             }

//             .dropdown {
//                 &:hover {
//                     z-index: 2;
//                 }
//             }

//             .dropdown-menu {
//                 background: none;
//                 border: 3px solid #F89127;

//                 &.lecch {
//                     // --------- RESPONSIVE
//                     @include scss_minw(1200px) {
//                         left: 30px;
//                     }
//                 }
//             }
//             .dropdown-item {
//                 color: $clor;
//                 text-shadow: none;

//                 &:hover,
//                 &.active {
//                     background: rgba(248, 144, 39, 0.2);
//                 }
//             }
//         }
//     }
//     .navbar {
//         padding: 0;
//         .container {
//             padding-left: 0;
//             padding-right: 0; // --------- RESPONSIVE 
//             @include scss_minw(1200px) {}
//             // --------- RESPONSIVE
//             @include scss_maxw(1199px) {
//                 max-width: 100%;
//             }
//         }
//         .nav {
//             // --------- RESPONSIVE
//             @include scss_minw(1200px) {
//                 width: calc(100% - 40px);
//                 margin: 0 auto;
//                 padding: 0 20px;
//                 position: relative;
//                 @include scss_bg_img('bg/header-bg.png') {
//                     background-repeat: repeat-x;
//                 }
//                 -webkit-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.7);
//                 -moz-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.7);
//                 box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.7);
//                 &:before,
//                 &:after {
//                     width: 24px;
//                     height: 57px;
//                     content: '';
//                     display: block;
//                     position: absolute;
//                     top: 0;
//                 }
//                 &:before {
//                     left: -20px;
//                     @include scss_bg_img('bg/header-bg-side-left.png') {
//                         background-repeat: no-repeat;
//                     }
//                 }
//                 &:after {
//                     right: -20px;
//                     @include scss_bg_img('bg/header-bg-side-right.png') {
//                         background-repeat: no-repeat;
//                     }
//                 }
//             } // --------- RESPONSIVE
//             @include scss_maxw(1199px) {
//                 width: 100%;
//                 height: 57px;
//                 @include scss_bg_img('bg/header-bg.png') {
//                     background-repeat: repeat-x;
//                 }
//             }
//         }
//         .item-hidden {
//             // --------- RESPONSIVE 
//             @include scss_minw(1200px) {
//                 display: none;
//             }
//             padding: 8px 15px 7px;
//             @extend %fBoldE;
//             font-size: 13px;
//             color: $clor;
//             text-transform: uppercase;
//         }
//     } // LOGO
//     .logo {
//         position: absolute;
//         z-index: 9;
//         top: 0;
//         left: 50%;
//         margin-left: -115px;
//         margin-right: 0;
//         padding: 0; // --------- RESPONSIVE
//         @include scss_maxw(1199px) {
//             margin-left: -100px;
//         }
//         @include scss_maxw(767px) {
//             margin-left: -80px;
//         }
//         @include scss_maxw(575px) {
//             margin-left: -60px;
//         }
//     }
//     .navbar-brand {
//         img {
//             width: 230px; // --------- RESPONSIVE
//             @include scss_maxw(1199px) {
//                 width: 200px;
//             }
//             @include scss_maxw(767px) {
//                 width: 160px;
//             }
//             @include scss_maxw(575px) {
//                 width: 120px;
//             }
//         }
//     } //-------------------------- mobile section
//     .navbar-toggler {
//         border: none;
//     }
//     .navbar-light .navbar-toggler {
//         padding: 13px 15px 14px;
//         color: rgba(0, 0, 0, .5);
//         border-color: rgba(0, 0, 0, .1);
//         outline: none;
//         &:focus {
//             outline: none;
//         }
//     }
//     .navbar-light .navbar-toggler-icon {
//         background-image: url('../images/mobi-btn.svg');
//     }
//     .navbar-light .navbar-nav .nav-link,
//     .navbar-light .navbar-nav .nav-link:focus,
//     .navbar-light .navbar-nav .nav-link:hover,
//     .navbar-light .navbar-nav .active>.nav-link,
//     .navbar-light .navbar-nav .nav-link.active,
//     .navbar-light .navbar-nav .nav-link.show,
//     .navbar-light .navbar-nav .show>.nav-link {
//         color: $clor;
//     }
//     // ------------------------------------------------------------------------ RESPONSIVE
//     @include scss_maxw(1199px) {
//         .navbar-collapse {
//             background: rgba(0, 0, 0, 0.95);
//             padding: 15px 0px 30px;
//         }
//         .navbar-nav {
//             .nav-link {
//                 padding: 10px 15px;
//                 &:hover {}
//             }
//         }
//         .navbar-light .navbar-nav .nav-link:focus,
//         .navbar-light .navbar-nav .nav-link:hover,
//         .navbar-light .navbar-nav .active>.nav-link,
//         .navbar-light .navbar-nav .nav-link.active,
//         .navbar-light .navbar-nav .nav-link.show,
//         .navbar-light .navbar-nav .show>.nav-link {
//             background: rgba(248, 144, 39, 0.2);
//         }

//         .dropdown-menu {
//             border: none !important;
//         }
//         .dropdown-item {
//             padding: .35rem 1.5rem;
//         }
//     }
// }

// @keyframes spin {
//     0% {
//         transform: rotate(0);
//     }
//     100% {
//         transform: rotate(360deg);
//     }
// }

// .spinner {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1003;
//     background: #130501;
//     overflow: hidden;

//     .spinner-wrapper {
//         position: absolute; top: 30%; left: 0; right: 0;
//     }

//     .slogan {
//         text-align: center; color: $clor; font-size: 18px;
//     }
// }

// .spinner .blob {
//     margin: 0 auto 20px;
// }
// .spinner .blob:first-child {
//     width: 100px;
//     height: 150px;
//     border-radius: 50%;
//     box-shadow: 0 3px 3px 0 rgb(211, 83, 23);
//     transform: translate3d(0, 0, 0);
//     animation: spin 2s linear infinite;
// }

// .spinner .blob:first-child:after,
// .spinner .blob:first-child:before {
//     content: "";
//     position: absolute;
//     border-radius: 50%;
// }

// .spinner .blob:first-child:before {
//     top: 5px;
//     left: 5px;
//     right: 5px;
//     bottom: 5px;
//     box-shadow: 0 3px 3px 0 rgb(77, 7, 109);
//     -webkit-animation: spin 3s linear infinite;
//     animation: spin 3s linear infinite;
// }

// .spinner .blob:first-child:after {
//     top: 15px; 
//     left: 15px;
//     right: 15px;
//     bottom: 15px;
//     box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
//     animation: spin 1.5s linear infinite;
// } 