// IMPORT
@import "_sass-element";

// PAGE
.sec-career-search {
    background: #e6e7e8;     
    .with-bg {
        position: relative;
        padding-top: 44px;
        padding-bottom: 44px;

        &::before {
            content: ""; display: block;
            width: 100%; height: 100%;
            position: absolute; top: 0%; left: 0; z-index: 0;
            @include scss_bg_img('bg/sec-2-bg-left.jpg');
            @include scss_bg_content() {
                background-size: auto 100%;
                background-position: left top;
            };

            @include scss_maxw(767px) {
                background-position: center;
                opacity: 0.2;
            }
        }
        /* ----------------------- RESPONSIVE */
        @include scss_minw(768px) {
            &::after {
                content: ""; display: block;
                width: 100%; height: 100%;
                position: absolute; top: 0%; right: 0; z-index: 0;
                @include scss_bg_img('bg/sec-2-bg-right.jpg');
                @include scss_bg_content(){
                    background-size: auto 100%;
                    background-position: right top;
                };
            }
        }

        & > .row {
            position: relative; z-index: 1;
        }
    }
    
}

.sec-career-province {
    background: $clor;   
}

.sec-career-urgent {
    .item {
        position: relative;
        @include scss_border_radius(8px);
        
        .btn-custom {
            position: absolute; top: 12px; right: 12px;
        }

        img.brand {
            width: auto;
        }
    }
}

.sec-recruitment-new {
    background: $clor;  

    .item {

        i.icofont-star {
            color: #f99f29;
        }

        /* ----------------------- RESPONSIVE */
        @include scss_minw(992px) {
            .wrap {
                background-color: $clw;
            }
        }
        @include scss_minw-maxw(768px, 991px) {
            a, p, span, i.icofont-star {
                color: $clw;
            }
            .wrap {
                background-color: transparent;
            }
        }
        @include scss_maxw(767px) {
            .wrap {
                background-color: $clw;
            }
            
        }
        
        
    }
}

.sec-find-by-job {
    @include scss_bg_img('bg/map.png');
    
    @include scss_bg_content(){
        background-size: cover;
        background-position: left center;
    };

    .wrap-item {

        .item {
            &::before {
                content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                color: #808285;
                font-weight: bold; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */ 
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em; /* Also needed for space (tweak if needed) */
            }

            a {
                color: #808285;

                span {
                    color: $clor;
                }
            }

            &.item-spec {
                &::before {
                    color: $clor;
                }
    
                a {
                    color: $clor;
                    @extend %sfBold;

                    span {
                        @extend %sfReg;
                    }
                }
            }
        }
    }
}

.sec-support {
    background: #e5e5e5;

    .item-support {
        img {
            width: 100%;
            max-width: 100px; max-height: 100%;
            @include scss_border_radius(100%);
            border: 2px solid #e99f3d;
        }

        .logo-skype {
            display: inline-block;
            width: 25px; height: 25px;
            @include scss_bg_img('logo-skype.png');
            @include scss_bg_content() {
                background-size: 100%;
            };
        }

        .skype-phone {
            display: inline-block;
            position: relative; bottom: 7px;
            margin-left: 5px;
            color: #20A0EF;

            &:hover {
                color: $clor;
            }
        }
    }
}

.sec-num {
    background: $clor;

    .item-1 {
        img {
            width: 45px;
        }
    }

    .item-2{
        img {
            width: 52px;
        }
    }

    .item-3{
        img {
            width: 68px;
        }
    }

    .item-4{
        img {
            width: 62px;
        }
    }
    
}

// PAGE EMPLOYER
.sec-cmt-list {
    .with-bg {
        background: #e7e7e9;
    }
}

// PAGE NEWS
.sec-news {
    .blk-1 {
        /* ----------------------- RESPONSIVE */
        @include scss_minw(992px) {
            
            .blk-1-l {
                border-right: 1px solid $clor;
            }

            .blk-1-r {
                & > .row > .col-12 {
                    & >  .item-wrap {
                        .item {
                            border-bottom: 1px solid $clor;
                        }
                    }

                    &:last-child {
                        .item {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }

    .blk-2 {
        /* ----------------------- RESPONSIVE */
        @include scss_minw(0px) {
            .blk-2-l {
                .item {
                    border-bottom: 1px solid $clor;

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
        
    }
}

// FOOTER EACH PAGE
.sec-call-center {
    background: $clor;
}

.sticky {
    position: fixed; top: 0px; z-index: 9;
    width: 250px;
    padding-top: 20px; 
    background: $clw;
    /* ----------------------- RESPONSIVE */
    @include scss_maxw(991px) {
        width: calc(100% - 60px);
    }
}