
/***
	/*
	* ------------------------------ 1. RESET -----
	* ---------------------------------------------
	*/

	/* ---------------- *\
			Normal
	\* ---------------- */
	html, body {
		height: 100%; width: 100%;
		@extend %tran-all;
	}

	body {
		overflow-x: hidden;
		font-size: 13px;
		font-weight: normal;
		line-height: normal;
		@extend %sfReg1;

		// --------- RESPONSIVE 
		@include scss_minw(768px) {
			font-size: $fsbase;
			// &.fancybox-active {
			// 	height: 100%;
			// }
		}
		
	}

	select,
	textarea,
	input[type="text"],
	// input[type="file"], 
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input { 
		// display: inline-block;
		// -webkit-font-smoothing: antialiased;
		// -webkit-text-size-adjust: 100%;
		// font-weight: inherit;
		width: 100%; height: 42px;
		// padding: 0 15px; margin: 1px 0 0 0px;
		// font-size: 16px; line-height: 40px;
		// color: $clw;
		border: 1px solid $clgrey; 
		// border-radius: 0;
		background: $clw;
		// resize: none;  vertical-align: middle;
		// box-shadow: none;
		// transition: all 150ms ease-in;
		

		@include scss_placeholder {
			color: $clgrey;
			// background: $clw;
			@include scss_fs(12);
			// font-weight: 500 !important;
		}

		// @include scss_placeholder_nonefocus {
		// 	// color: $transparent;
		// 	// font-weight: 500 !important;
		// }

		// &:focus:not(.txt-day-fight) {
		// 	color: $clw;
		// 	outline: none;
		// 	-webkit-box-shadow: none;
		// 	box-shadow: none;
		// 	background: #1a1a1b;
		// 	border: 1px solid $clor;  
		// 	border-image-source: linear-gradient(rgba(255,162,0,1), rgba(237,109,16,1));
		// 	border-image-slice: 1;
		// }

		&.clear {
			background: transparent;
			border: 1px solid $clw; 

			@include scss_placeholder {
				color: $clw;
				// background: $clw;
				@include scss_fs(12);
				// font-weight: 500 !important;
			}
		}
	}

	[class^="fa- "]:before, 
	[class*=" fa-"]:before {
	font-style: normal; font-weight: normal;
	// speak: none;
	display: inline-block;
		text-decoration: inherit;
		width: 1em; margin-right: 0;
		text-align: center; line-height: 1em;
	}

/*----------------*\
	COLOR
\*----------------*/
	.clo-ora { color: $clor; }
	.clo-whi { color: $clw; }
	.clo-bla { color: $clb; }
	.clo-blue { color: $clblue; }
	.clo-grey { color: $clgrey; }
	.clo-greyD { color: $clgreyDark; }

/*----------------*\
	HEADLINE
\*----------------*/
	.headline {
		position: relative;
		color: $clb;
		@include scss_fs(28);
		// --------- RESPONSIVE 
			@include scss_maxw(767px) {
				@include scss_fs(24); 
			}

		&.clo-white { color: $clw; }
		&.clo-ora { color: $clor; }
		
		// font-size
		&.hl-18 { @include scss_fs(18); }
		&.hl-24 { @include scss_fs(24); }
		&.hl-25 { @include scss_fs(25); }
		&.hl-30 { @include scss_fs(30); }
		&.hl-36 { @include scss_fs(36); }

		&.noUpper {
			text-transform: initial;
		}

		.sub-head {
			display: block;
			margin: 0 0 12px 0;
			line-height: 35px;
			color: $clw;
			-webkit-text-fill-color: $clw;
		}
	}

/*----------------*\
	LINK WRAP
\*----------------*/
	.hotspot {
	position: relative;

		.bubble {
			position: absolute; top: 0; left: 0; right: 0;
			width: 100%; height: 100%; z-index: 1;
		}
	}

/*----------------*\
	BORDER
\*----------------*/
	.bder01 { border: 1px solid $clgrey; }
	.bder03-ora { border: 3px solid $clor; }
	
	.bdl-lg-01-ora { 
		@include scss_minw(992px) { border-left: 1px solid $clor; }
	}
	.bdbt01-ora { border-bottom: 1px solid $clor; }

	.bdrd-50p  { @include scss_border_radius(50%); }
	.bdrd-08  { @include scss_border_radius(8px); }

	.bdrd-tl { @include scss_border_side_radius(top-left, 0); }
	.bdrd-tr { @include scss_border_side_radius(top-right, 0); }

	.bdrd-tl { @include scss_css3_prefix(border-top-left-radius, 5px); }
	.bdrd-tr { @include scss_css3_prefix(border-top-right-radius, 5px); }

/*----------------*\
	SHADOW
\*----------------*/
	.bsd { @include scss_css3_prefix(box-shadow, 1px 1px 5px 0px rgba(0,0,0,0.1)); }

/*----------------*\
	BACKGROUND
\*----------------*/
	.bg-clor { background: $clor; }
	.bg-white { background: $clw; }
	.bg-clgrey { background: #e6e7e8; }

	%bg-gradi {
		background: -webkit-linear-gradient(90deg, rgba(237,109,16,1) 0%, rgba(255,162,0,1) 100%);
	}

/*----------------*\
	IMAGE
\*----------------*/
	img {
		&.w15 { width: 15px; }
		&.w20 { width: 20px; }
		&.w20 { width: 20px; }
		&.w30 { width: 30px; }
		&.w50 { width: 50px; }
		&.w100 { width: 100px; }
		&.w130 { width: 130px; }
		&.w160 { width: 160px; }
		&.w200 { width: 200px; }

		&.mw70 { max-width: 70px; width: 100%; }
		
		&.mw100 { 
			max-width: 100px; 
			/* ----------------------- RESPONSIVE */
			@include scss_maxw(767px) { max-width: 70px;  }
			
			&.top1 {
				width: 100%;
				/* ----------------------- RESPONSIVE */
				@include scss_maxw(767px) { max-width: 100px;  }
			}
		}
		&.mw130 { max-width: 130px; width: 100%; }
		&.mw200 { 
			max-width: 200px; width: 100%;
		}
		&.mw300 {  
			max-width: 300px; width: 100%;
			/* ----------------------- RESPONSIVE */
			@include scss_maxw(767px) { max-width: 200px;  }
		}
		
		&.mw100r { 
			max-width: 100px; 
			/* ----------------------- RESPONSIVE */
			@include scss_maxw(991px) {
				max-width: 80px; 
			}
			@include scss_maxw(767px) {
				max-width: 100%; 
			}
			@include scss_maxw(576px) {
				max-width: 100px; 
			}
		}

		&.w100p {
			width: 100%;
		}
	}

/*----------------*\
	VIDEO
\*----------------*/
.yt-wrap {
	// --------- RESPONSIVE 
	@include scss_maxw(767px) {
		position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;

		iframe {
			position: absolute; top: 0; left: 0; width: 100%; height: 100%;
		}
	}
}


/*----------------*\
	BUTTON
\*----------------*/
	.btn-custom {
		position: relative; top: 0;
		border: 1px solid transparent;
		color: $clw;
		text-transform: uppercase;
		cursor: pointer;
		@include scss_fs(14);
		@extend %sfBold;
		@extend %tran-all;
		outline: 0;
		box-shadow: none!important;

		&:focus{
			outline: 0;
		}

		&.h30 { height: 30px; line-height: 1.3 }
		&.h42 { height: 42px; }

		&.big-text {
			// padding: 15px 60px;
			@include scss_fs(30);
			@include scss_border_radius(8px);
		}

		&.fullw { width: 100%; }
		&.fullh { height: 100%; }

		&.no-padH {
			padding-left: 0; padding-right: 0
		}

		&.ora {
			background-color: $clor;
			color: $clw;

			&:hover,
			&:focus {
				background-color: transparent;
				border: 1px solid $clor;
				color: $clor;
			}
		}

		&.ora-line {
			background-color: $clw;
			border: 2px solid $clor;
			color: $clor;

			&:hover,
			&:focus {
				background-color: $clor;
				border: 2px solid $clor;
				color: $clw;
			}
		}

		&.ora-w {
			color: $clw;
			border: 1px solid $clw;

			&:hover,
			&:focus {
				background-color: $clw;
				color: $clor;
			}
		}

		&.blu {
			background-color: $clblue;

			&:hover,
			&:focus {
				background-color: transparent;
				border: 1px solid $clblue;
				color: $clblue;
			}
		}

		&.whi {
			background-color: $clw;
			color: $clor;

			&:hover,
			&:focus {
				background-color: transparent;
				border: 1px solid $clw;
				color: $clw;
			}
		}

		&.whi-line {
			border: 1px solid $clor;
			background-color: $clw;
			color: $clor;
		}

		&.btn-fake {
			border-width: 1px;
			text-transform: initial;

			i {
				border-style: solid;
				border-color: #f48120 transparent transparent transparent;
				border-width: 8px 5px 0 5px;
				height: 0; width: 0;
				margin-left: -5px; margin-top: -4px;
				position: absolute; top: 50%; right: 5%;
				
			}

			&:hover,
			&:focus {
				border-width: 1px;
				i {
					border-color: #fff transparent transparent transparent;
				}
			}
		}

		&.btn-custom-2 {
			background-color: $clw;
			border: 1px solid $clor;
			color: $clor;

			&:hover,
			&:focus,
			&.active {
				background-color: $clor;
				border: 1px solid $clor;
				color: $clw;
			}
		}
	}

	.custom-file-my {
		.inputfile {
			width: 0.1px; height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		.inputfile + label {
			display: inline-block;
			padding: .375rem .75rem;
			max-width: 70%;
			background-color: #f48120;
			border: 1px solid transparent;
			color: $clw;
			text-overflow: ellipsis;
			white-space: nowrap;
			cursor: pointer;
			overflow: hidden;
			line-height: 1.5;
			@include scss_fs(14);
			@include scss_border-radius(.25rem)
		}

	}
	
/*----------------*\
	BUTTON, BUTTON LIST
\*----------------*/

/*----------------*\
	TYPO
\*----------------*/
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		line-height: normal;
		color: $clor;
	}

	a {
		color: $clb;
		@extend %tran-hover-all;
		font-family: inherit;
		outline: none;

		&:hover,
		&.active {
			color: $clor;
			text-decoration: none;
			@extend %tran-all;
		}

		&.clo-whi {
			color: $clw;

			&:hover,
			&.active {
				opacity: 0.6;
			}
		}

		&.clo-ora {
			color: $clor;

			&:hover,
			&.active {
				opacity: 0.6;
			}
		}
	}

	li {
		font-family: inherit;
	}

	p {
		@include scss_fs(14);
		line-height: 16px;
	}

	.text-30 {  @include scss_fs(30); }
	.text-20 {  @include scss_fs(20); }
	.text-18 {  @include scss_fs(18); }
	.text-16 {  @include scss_fs(16); }
	.text-15 {  @include scss_fs(15); }
	.text-14 {  @include scss_fs(14); }
	.text-13 {  @include scss_fs(13); }
	.text-12 {  @include scss_fs(12); }

	.text-thin { @extend %sfThin; }
	.text-lig { @extend %sfLig; }
	.text-bold { @extend %sfBold; }
	.text-uper { text-transform: uppercase }

	.lihe20 { line-height: 20px; }
	.lihe22 { line-height: 22px; }
	.lihe24 { line-height: 24px; }
	.lihe26 { line-height: 26px; }
	.lihe30 { line-height: 30px; }
	.lihe32 { line-height: 32px; }
	.lihe44 { 
		line-height: 44px; 
		// --------- RESPONSIVE 
		@include scss_maxw(575px) {
			line-height: 38px; 
		}
	}

	.p-lihe22 { p { line-height: 22px; } }

	.ltsp-1 { letter-spacing: -1px; }
	.ltsp01 { letter-spacing: 0.1px; }
	.ltsp1 { letter-spacing: 1px; }

	.ellipsis {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	

/*----------------*\
	SPACING
\*----------------*/
	.divide10 { width: 100%; height: 10px; }
	.divide20 { width: 100%; height: 20px; }
	.divide30 { width: 100%; height: 30px; }
	.divide80 { width: 100%; height: 80px; }

	.inner00 { padding-left: 10px; padding-right: 10px; }
	.inner10 { padding-left: 10px; padding-right: 10px; }
	.inner20 { padding-left: 20px; padding-right: 20px; }
	.inner30 { padding-left: 30px; padding-right: 30px; }
	.inner60 { padding-left: 60px; padding-right: 60px; }

	.mgt00 { margin-top: 0px; }
	.mgt01 { margin-top: 1px; }
	.mgt05 { margin-top: 5px; }
	.mgt10 { margin-top: 10px; }
	.mgt15 { margin-top: 15px; }
	.mgt20 { margin-top: 20px; }
	.mgt30 { margin-top: 30px; }
	.mgt40 { margin-top: 40px; }
	.mgt50 { margin-top: 50px; }
	.mgt60 { margin-top: 60px; }

	.mgbt05 { margin-bottom: 05px;}
	.mgbt10 { margin-bottom: 10px;}
	.mgbt15 { margin-bottom: 15px;}
	.mgbt20 { margin-bottom: 20px; }
	.mgbt30 { margin-bottom: 30px; }
	.mgbt40 { margin-bottom: 40px; }
	.mgbt50 { margin-bottom: 50px; }

	.pdt10 { padding-top: 10px; }
	.pdt20 { padding-top: 20px; }
	.pdt30 { padding-top: 30px; }
	.pdt40 { padding-top: 40px; }
	.pdt50 { padding-top: 50px; }

	.pdbt00 { padding-bottom: 0; }
	.pdbt10 { padding-bottom: 10px; }
	.pdbt20 { padding-bottom: 20px; }
	.pdbt30 { padding-bottom: 30px; }
	.pdbt40 { padding-bottom: 40px; }
	.pdbt50 { padding-bottom: 50px; }

	.pdy40 { padding-top: 40px; padding-bottom: 40px; }
	.pdy50 { padding-top: 50px; padding-bottom: 50px; }

	.gutt20 {
		// --------- RESPONSIVE 
        @include scss_minw(1200px) {
            &.row {
				margin-left: -20px;
				margin-right: -20px;
			}
	
			& > [class*='col-'] {
				padding-right: 20px;
				padding-left: 20px;
			}
        }
	}

	// --------- RESPONSIVE 
	@include scss_minw(992px) {
		.mgbt0-md { margin-bottom: 0px; }
		.mgbt50-md { margin-bottom: 50px; }
	}

	.h100pr { height: 100%; }

/*----------------*\
	TOOLTIP
\*----------------*/



/***
*------------------------------ 2. OTHER -----
*---------------------------------------------
*/
/*----------------*\
	PLUGIN
\*----------------*/
	// __________________ sElect2 -
	.select2-container { 
		// font-size: 16px; 
		width: 100% !important;
	}
	// .select2-container .select2-selection--single .select2-selection__rendered { 
	// 	padding-left: 15px; 
	// }

	.select2-container--default .select2-selection--single { 
		height: 42px; 
		background: $clw;
		// @include scss_border-radius(0); 
		border: 1px solid $clgrey;  
		// border-image-source: linear-gradient(rgba(255,162,0,1), rgba(237,109,16,1));
		// border-image-slice: 1;
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	// Text hien thi
	.select2-container--default .select2-selection--single .select2-selection__rendered { 
		height: 100%; line-height: 42px;  
		color: $clgrey; }

	// Mui ten
	.select2-container--default .select2-selection--single .select2-selection__arrow { 
		height: 100%; width: 40px; top: 0; 
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b { 
		margin-left: -2px;
    	margin-top: -4px;
		border-color: $clor transparent transparent transparent;
		border-width: 8px 5px 0 5px;
	}

	// .select2-container--default .select2-results__option--highlighted[aria-selected] { background: $clor; }
	// 	// Select2 dropdown
	// 	.select2-dropdown {
	// 		border-radius: 0; 
	// 		background-color: #1a1a1b;
	// 		border-image-source: linear-gradient(rgba(255,162,0,1), rgba(237,109,16,1));
	// 		border-image-slice: 1;
	// 		outline: none;
	// 	}
	// 	.select2-container--default .select2-results__option[aria-selected=true] {
	// 		background: $clor;
	// 		color: $clw;
	// 	}
	// 	.select2-results__option {
	// 		padding: 6px 15px;
	// 		background-color: #1a1a1b;
	// 		color: $clw;
	// 	}

	// FIELD SEARCH
	.select2-search--dropdown .select2-search__field {
		// padding: 4px 10px;
		height: 36px;
	}
	// 	.select2-container--default .select2-search--dropdown .select2-search__field {
	// 		border-image-source: linear-gradient(rgba(255,162,0,1), rgba(237,109,16,1));
	// 		border-image-slice: 1;
	// 		outline: none;
	// 	}

	.select-2-clear {
		
		.select2-container--default .select2-selection--single {
			background: transparent;
			border: 1px solid $clw;
		}
		
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			color: $clw;
		}
	
		.select2-container--default .select2-selection--single .select2-selection__arrow b {
			border-color: $clw transparent transparent transparent;
		}
	}


	// __________________ iCheck - 
	.icheckbox_square-custom,
	.iradio_square-custom {
		display: inline-block; margin: 0; padding: 0;
		width: 32px; height: 32px;
		background: url('../images/custom-check.png') no-repeat;
		border: none; cursor: pointer;
	} 

	.icheckbox_square-custom { background-position: 0 0; }
	.icheckbox_square-custom.hover { background-position: -32px 0; }
	.icheckbox_square-custom.checked { background-position: -64px 0; }
	// .icheckbox_square-custom.disabled { background-position: -72px 0; cursor: default; }
	// .icheckbox_square-custom.checked.disabled { background-position: -96px 0; }
	
	// .iradio_square-custom { background-position: -120px 0; }
	// .iradio_square-custom.hover { background-position: -144px 0; }
	// .iradio_square-custom.checked { background-position: -168px 0; }
	// .iradio_square-custom.disabled { background-position: -192px 0; cursor: default; }
	// .iradio_square-custom.checked.disabled { background-position: -216px 0; }
	/* Retina support */
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
			only screen and (-moz-min-device-pixel-ratio: 1.5),
			only screen and (-o-min-device-pixel-ratio: 3/2),
			only screen and (min-device-pixel-ratio: 1.5) {
		.icheckbox_square-custom,
		.iradio_square-custom { 
			background-image: url('../images/custom-check@2x.png');
			-webkit-background-size: 96px 32px;
			background-size: 96px 32px;
		}
	}



// --------------------------------------------------------
// -------------------------------------------------------
// -------------------------------------- BOOTSTRAP -----
	// --------------------------------------
		// --------------------------------------
			// --------------------------------------
				// --------------------------------------

/*----------------*\
	GRID
\*----------------*/
	.container {
		// --------- RESPONSIVE
		@include scss_minw(1200px) {
			max-width: 1170px
		}
	}
/*----------------*\
	NAV
\*----------------*/

/*----------------*\
	MODAL
\*----------------*/
	.modal-backdrop.in {
		opacity: .6;
	}

	// modal custom
	.modal-custom {
		@include scss_minw(768px) {
			max-width: 600px;
		}
	}

	// .modal {
	// 	&.modal-vertical {
	// 		text-align: center;
	// 		padding: 0 !important;
	// 		&::before {
	// 			content: '';
	// 			display: inline-block;
	// 			height: 100%;
	// 			vertical-align: middle;
	// 			margin-right: -4px;
	// 		}

	// 		.modal-dialog {
	// 			display: inline-block;
	// 			text-align: left;
	// 			vertical-align: middle;
	// 		}
	// 	}

	// 	&.no-padding {
	// 		.modal-body {
	// 			padding: 0;
	// 		}
	// 	}

	// 	&.custom-close {
	// 		.modal-content {
	// 			position: relative;
	// 		}

	// 		.close {
	// 			padding: 0;
	// 			position: absolute;
	// 			top: 2px; right: -15px;
	// 			font-size: 40px;
	// 			color: $clw;
	// 			opacity: 1;
	// 		}
	// 	}

	// 	.modal-content {
	// 		background: #1a1a1b;
	// 		border: 1px solid $clor;  
	// 		border-image-source: linear-gradient(rgba(255,162,0,1), rgba(237,109,16,1));
	// 		border-image-slice: 1;
	// 	}

	// 	.modal-header {
	// 		padding: 20px 10px 10px;
	// 		border: none;
	// 		justify-content: center;

	// 		.modal-title {
	// 			width: 100%;
	// 			text-align: center;
	// 			text-transform: uppercase;
				
	// 			// --------- RESPONSIVE 
    //         	@include scss_maxw(1199px) {
	// 				background-size: 100%;
	// 				background-position: center top;
	// 				background-attachment: fixed; 
	// 			}
	// 		}
	// 	}

	// 	.modal-body {
	// 		padding: 10px 15px 0;
	// 		p {
	// 			color: $clw;
	// 			@include scss_fs(16);
	// 			text-align: center;
	// 		}
	// 	}

	// 	.modal-footer {
	// 		padding: 10px 10px 30px;
	// 		border: none;
	// 		justify-content: center;
	// 	}

	// 	// Chú ý:
	// 	#add-mem-caution {
	// 		color: $clor;
	// 		display: block; text-align: center;
	// 		@include scss_fs(14);
	// 	}
	// }

	// .modal-open {
	// 	.modal {
	// 		background: rgba(255,255,255,0.2);
	// 	}
	// }

/*----------------*\
	SPACING
\*----------------*/

/*----------------*\
	FORM INPUT
\*----------------*/
	// .form-row {
	// 	margin-right: -15px;
	// 	margin-left: -15px;
	// }

	// .form-row>.col, 
	// .form-row>[class*=col-] {
	// 	padding-right: 15px;
	// 	padding-left: 15px;
	// }

	// label {
	// 	color: $clw; text-transform: uppercase;
	// 	@include scss_fs(16);

	// 	span {
	// 		color: $clor;
	// 	}
	// }

	.form-group {
		&.mgbt-10 {
			margin-bottom: 10px;
		}
	}

/*----------------*\
	RADIO
\*----------------*/

/*----------------*\
	BUTTON
\*----------------*/


/*----------------*\
	BREAKCRUMB
\*----------------*/
	.breadcrumb {
		background: none;
		padding: 13px 0; margin-bottom: 0px;

		.breadcrumb-item {
			
			a {
				color: $clgrey;

				&:hover {
					color: $clor;
				}
			}

			&.active {
				@extend %sfBold;
			}

			& + .breadcrumb-item::before {
				content: '/';
			}
		}
	}

/*----------------*\
	CARD
\*----------------*/

/*----------------*\
	PAGINATION
\*----------------*/

	.page-numbers {
		display: inline-block;
		padding: 5px 10px;
		margin: 0 2px 0 0;
		border: 1px solid #eee;
		line-height: 1;
		text-decoration: none;
		border-radius: 2px;
		font-weight: 600;
		font-size: 18px;
		@include scss_border-radius(5px);
		@extend %tran-all;
	}

	.page-numbers.current,
	a.page-numbers:hover {
		background: $clor;
		color: $clw;
		@extend %tran-all;
	}




