.text-thin {
  font-family: "san_francisco_textthin", arial, Helvetica, sans-serif;
}

.text-lig {
  font-family: "san_francisco_textlight", arial, Helvetica, sans-serif;
}

.text-bold {
  font-family: "san_francisco_textbold", arial, Helvetica, sans-serif;
}

a.lk {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.lk:hover, a.lk.active, .butterfly-btn:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/***
	/*
	* ----------------------- 1. CLASS DEFINE -----
	* ---------------------------------------------
	*/
/*----------------*\
	COLOR
\*----------------*/
.clo-ora {
  color: #f48120;
}

.clo-whi {
  color: #fff;
}

.clo-blue {
  color: #006c98;
}

.clo-grey {
  color: #d0d0d0;
}

.clo-greyD {
  color: #979798;
}

/*----------------*\
HEADLINE
\*----------------*/
.headline {
  position: relative;
  color: #000;
  font-size: 2em;
}

@media only screen and (max-width: 767px) {
  .headline {
    font-size: 1.71429em;
  }
}

.headline.clo-white {
  color: #fff;
}

.headline.clo-ora {
  color: #f48120;
}

.headline.hl-18 {
  font-size: 1.28571em;
}

.headline.hl-24 {
  font-size: 1.71429em;
}

.headline.hl-25 {
  font-size: 1.78571em;
}

.headline.hl-30 {
  font-size: 2.14286em;
}

.headline.hl-36 {
  font-size: 2.57143em;
}

.headline.noUpper {
  text-transform: initial;
}

.headline .sub-head {
  display: block;
  margin: 0 0 12px 0;
  line-height: 35px;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

/*----------------*\
BORDER
\*----------------*/
.bder01 {
  border: 1px solid #d0d0d0;
}

.bder03-ora {
  border: 3px solid #f48120;
}

.bdbt01-ora {
  border-bottom: 1px solid #f48120;
}

.bdrd-08 {
  border-radius: 8px;
}

.bdrd-10 {
  border-radius: 10px;
}

.bdrd-tl {
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
}

.bdrd-tr {
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

.bdrd-tl {
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}

.bdrd-tr {
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

/*----------------*\
SHADOW
\*----------------*/
.bsd {
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

/*----------------*\
BACKGROUND
\*----------------*/
.bg-clor {
  background: #f48120;
}

.bg-white {
  background: #fff;
}

.bg-blue {
  background: #dcedfa;
}

/*----------------*\
IMAGE
\*----------------*/
img.w15 {
  width: 15px;
}

img.w20 {
  width: 20px;
}

img.w20 {
  width: 20px;
}

img.w30 {
  width: 30px;
}

img.w50 {
  width: 50px;
}

img.w100 {
  width: 100px;
}

img.w130 {
  width: 130px;
}

img.w160 {
  width: 160px;
}

img.w200 {
  width: 200px;
}

img.mwAuto {
  max-width: auto;
  width: auto;
  /* ----------------------- RESPONSIVE */
}

@media only screen and (max-width: 991px) {
  img.mwAuto {
    max-width: auto;
    width: auto;
  }
}

@media only screen and (max-width: 767px) {
  img.mwAuto {
    max-width: auto;
    width: 30%;
  }
}

@media only screen and (max-width: 576px) {
  img.mwAuto {
    max-width: auto;
    width: 30%;
  }
}

/*----------------*\
TYPO
\*----------------*/
a.lk {
  color: #000;
  font-family: inherit;
  outline: none;
}

a.lk:hover, a.lk.active {
  color: #f48120;
  text-decoration: none;
}

a.lk.clo-whi {
  color: #fff;
}

a.lk.clo-whi:hover, a.lk.clo-whi.active {
  opacity: 0.6;
}

a.lk.clo-ora {
  color: #f48120;
}

a.lk.clo-ora:hover, a.lk.clo-ora.active {
  opacity: 0.6;
}

li {
  font-family: inherit;
}

p.txt {
  font-size: 1em;
  line-height: 16px;
}

.text-30 {
  font-size: 2.14286em;
}

.text-20 {
  font-size: 1.42857em;
}

.text-18 {
  font-size: 1.28571em;
}

.text-16 {
  font-size: 1.14286em;
}

.text-15 {
  font-size: 1.07143em;
}

.text-14 {
  font-size: 1em;
}

.text-13 {
  font-size: 0.92857em;
}

.text-12 {
  font-size: 0.85714em;
}

.text-uper {
  text-transform: uppercase;
}

.lihe20 {
  line-height: 20px;
}

.lihe22 {
  line-height: 22px;
}

.lihe26 {
  line-height: 26px;
}

.lihe30 {
  line-height: 30px;
}

.lihe32 {
  line-height: 32px;
}

.lihe44 {
  line-height: 44px;
}

@media only screen and (max-width: 575px) {
  .lihe44 {
    line-height: 38px;
  }
}

.p-lihe22 p {
  line-height: 22px;
}

.ltsp-1 {
  letter-spacing: -1px;
}

.ltsp01 {
  letter-spacing: 0.1px;
}

.ltsp1 {
  letter-spacing: 1px;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*----------------*\
SPACING
\*----------------*/
.mgt00 {
  margin-top: 0px;
}

.mgt01 {
  margin-top: 1px;
}

.mgt05 {
  margin-top: 5px;
}

.mgt10 {
  margin-top: 10px;
}

.mgt15 {
  margin-top: 15px;
}

.mgt20 {
  margin-top: 20px;
}

.mgt30 {
  margin-top: 30px;
}

.mgt40 {
  margin-top: 40px;
}

.mgt50 {
  margin-top: 50px;
}

.mgt60 {
  margin-top: 60px;
}

.mgb05 {
  margin-bottom: 05px;
}

.mgb10 {
  margin-bottom: 10px;
}

.mgb15 {
  margin-bottom: 15px;
}

.mgb20 {
  margin-bottom: 20px;
}

.mgb30 {
  margin-bottom: 30px;
}

.mgb40 {
  margin-bottom: 40px;
}

.mgb50 {
  margin-bottom: 50px;
}

.pdt10 {
  padding-top: 10px;
}

.pdt20 {
  padding-top: 20px;
}

.pdt30 {
  padding-top: 30px;
}

.pdt40 {
  padding-top: 40px;
}

.pdt50 {
  padding-top: 50px;
}

.pdb00 {
  padding-bottom: 0;
}

.pdb10 {
  padding-bottom: 10px;
}

.pdb20 {
  padding-bottom: 20px;
}

.pdb30 {
  padding-bottom: 30px;
}

.pdb40 {
  padding-bottom: 40px;
}

.pdb50 {
  padding-bottom: 50px;
}

.pdy10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pdy30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pdy40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pdy50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pdx10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pdx30 {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (min-width: 1200px) {
  .gutt20.row {
    margin-left: -20px;
    margin-right: -20px;
  }
  .gutt20 > [class*='col-'] {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media only screen and (min-width: 576px) {
  .pdy-sm30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pdx-sm30 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .pdy-md30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pdx-md30 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .pdy-lg30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pdx-lg30 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .pdy-xl30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pdx-xl30 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.h100pr {
  height: 100%;
}

/***
*------------------------------ 2. OTHER -----
*---------------------------------------------
*/
select.input-custom, textarea.input-custom,
input[type="text"].input-custom,
input[type="password"].input-custom, input[type="datetime"].input-custom, input[type="datetime-local"].input-custom, input[type="date"].input-custom,
input[type="month"].input-custom, input[type="time"].input-custom, input[type="week"].input-custom, input[type="number"].input-custom,
input[type="email"].input-custom, input[type="url"].input-custom, input[type="search"].input-custom, input[type="tel"].input-custom,
input[type="color"].input-custom,
.uneditable-input.input-custom {
  width: 100%;
  height: 42px;
}

select.input-custom::-webkit-input-placeholder, textarea.input-custom::-webkit-input-placeholder,
input[type="text"].input-custom::-webkit-input-placeholder,
input[type="password"].input-custom::-webkit-input-placeholder, input[type="datetime"].input-custom::-webkit-input-placeholder, input[type="datetime-local"].input-custom::-webkit-input-placeholder, input[type="date"].input-custom::-webkit-input-placeholder,
input[type="month"].input-custom::-webkit-input-placeholder, input[type="time"].input-custom::-webkit-input-placeholder, input[type="week"].input-custom::-webkit-input-placeholder, input[type="number"].input-custom::-webkit-input-placeholder,
input[type="email"].input-custom::-webkit-input-placeholder, input[type="url"].input-custom::-webkit-input-placeholder, input[type="search"].input-custom::-webkit-input-placeholder, input[type="tel"].input-custom::-webkit-input-placeholder,
input[type="color"].input-custom::-webkit-input-placeholder,
.uneditable-input.input-custom::-webkit-input-placeholder {
  color: #d0d0d0;
  font-size: 1em;
}

select.input-custom:-moz-placeholder, textarea.input-custom:-moz-placeholder,
input[type="text"].input-custom:-moz-placeholder,
input[type="password"].input-custom:-moz-placeholder, input[type="datetime"].input-custom:-moz-placeholder, input[type="datetime-local"].input-custom:-moz-placeholder, input[type="date"].input-custom:-moz-placeholder,
input[type="month"].input-custom:-moz-placeholder, input[type="time"].input-custom:-moz-placeholder, input[type="week"].input-custom:-moz-placeholder, input[type="number"].input-custom:-moz-placeholder,
input[type="email"].input-custom:-moz-placeholder, input[type="url"].input-custom:-moz-placeholder, input[type="search"].input-custom:-moz-placeholder, input[type="tel"].input-custom:-moz-placeholder,
input[type="color"].input-custom:-moz-placeholder,
.uneditable-input.input-custom:-moz-placeholder {
  color: #d0d0d0;
  font-size: 1em;
}

select.input-custom::-moz-placeholder, textarea.input-custom::-moz-placeholder,
input[type="text"].input-custom::-moz-placeholder,
input[type="password"].input-custom::-moz-placeholder, input[type="datetime"].input-custom::-moz-placeholder, input[type="datetime-local"].input-custom::-moz-placeholder, input[type="date"].input-custom::-moz-placeholder,
input[type="month"].input-custom::-moz-placeholder, input[type="time"].input-custom::-moz-placeholder, input[type="week"].input-custom::-moz-placeholder, input[type="number"].input-custom::-moz-placeholder,
input[type="email"].input-custom::-moz-placeholder, input[type="url"].input-custom::-moz-placeholder, input[type="search"].input-custom::-moz-placeholder, input[type="tel"].input-custom::-moz-placeholder,
input[type="color"].input-custom::-moz-placeholder,
.uneditable-input.input-custom::-moz-placeholder {
  color: #d0d0d0;
  font-size: 1em;
}

select.input-custom:-ms-input-placeholder, textarea.input-custom:-ms-input-placeholder,
input[type="text"].input-custom:-ms-input-placeholder,
input[type="password"].input-custom:-ms-input-placeholder, input[type="datetime"].input-custom:-ms-input-placeholder, input[type="datetime-local"].input-custom:-ms-input-placeholder, input[type="date"].input-custom:-ms-input-placeholder,
input[type="month"].input-custom:-ms-input-placeholder, input[type="time"].input-custom:-ms-input-placeholder, input[type="week"].input-custom:-ms-input-placeholder, input[type="number"].input-custom:-ms-input-placeholder,
input[type="email"].input-custom:-ms-input-placeholder, input[type="url"].input-custom:-ms-input-placeholder, input[type="search"].input-custom:-ms-input-placeholder, input[type="tel"].input-custom:-ms-input-placeholder,
input[type="color"].input-custom:-ms-input-placeholder,
.uneditable-input.input-custom:-ms-input-placeholder {
  color: #d0d0d0;
  font-size: 1em;
}

select.input-custom:focus::-webkit-input-placeholder, textarea.input-custom:focus::-webkit-input-placeholder,
input[type="text"].input-custom:focus::-webkit-input-placeholder,
input[type="password"].input-custom:focus::-webkit-input-placeholder, input[type="datetime"].input-custom:focus::-webkit-input-placeholder, input[type="datetime-local"].input-custom:focus::-webkit-input-placeholder, input[type="date"].input-custom:focus::-webkit-input-placeholder,
input[type="month"].input-custom:focus::-webkit-input-placeholder, input[type="time"].input-custom:focus::-webkit-input-placeholder, input[type="week"].input-custom:focus::-webkit-input-placeholder, input[type="number"].input-custom:focus::-webkit-input-placeholder,
input[type="email"].input-custom:focus::-webkit-input-placeholder, input[type="url"].input-custom:focus::-webkit-input-placeholder, input[type="search"].input-custom:focus::-webkit-input-placeholder, input[type="tel"].input-custom:focus::-webkit-input-placeholder,
input[type="color"].input-custom:focus::-webkit-input-placeholder,
.uneditable-input.input-custom:focus::-webkit-input-placeholder {
  color: transparent !important;
}

select.input-custom:focus:-moz-placeholder, textarea.input-custom:focus:-moz-placeholder,
input[type="text"].input-custom:focus:-moz-placeholder,
input[type="password"].input-custom:focus:-moz-placeholder, input[type="datetime"].input-custom:focus:-moz-placeholder, input[type="datetime-local"].input-custom:focus:-moz-placeholder, input[type="date"].input-custom:focus:-moz-placeholder,
input[type="month"].input-custom:focus:-moz-placeholder, input[type="time"].input-custom:focus:-moz-placeholder, input[type="week"].input-custom:focus:-moz-placeholder, input[type="number"].input-custom:focus:-moz-placeholder,
input[type="email"].input-custom:focus:-moz-placeholder, input[type="url"].input-custom:focus:-moz-placeholder, input[type="search"].input-custom:focus:-moz-placeholder, input[type="tel"].input-custom:focus:-moz-placeholder,
input[type="color"].input-custom:focus:-moz-placeholder,
.uneditable-input.input-custom:focus:-moz-placeholder {
  color: transparent !important;
}

select.input-custom:focus::-moz-placeholder, textarea.input-custom:focus::-moz-placeholder,
input[type="text"].input-custom:focus::-moz-placeholder,
input[type="password"].input-custom:focus::-moz-placeholder, input[type="datetime"].input-custom:focus::-moz-placeholder, input[type="datetime-local"].input-custom:focus::-moz-placeholder, input[type="date"].input-custom:focus::-moz-placeholder,
input[type="month"].input-custom:focus::-moz-placeholder, input[type="time"].input-custom:focus::-moz-placeholder, input[type="week"].input-custom:focus::-moz-placeholder, input[type="number"].input-custom:focus::-moz-placeholder,
input[type="email"].input-custom:focus::-moz-placeholder, input[type="url"].input-custom:focus::-moz-placeholder, input[type="search"].input-custom:focus::-moz-placeholder, input[type="tel"].input-custom:focus::-moz-placeholder,
input[type="color"].input-custom:focus::-moz-placeholder,
.uneditable-input.input-custom:focus::-moz-placeholder {
  color: transparent !important;
}

select.input-custom:focus:-ms-input-placeholder, textarea.input-custom:focus:-ms-input-placeholder,
input[type="text"].input-custom:focus:-ms-input-placeholder,
input[type="password"].input-custom:focus:-ms-input-placeholder, input[type="datetime"].input-custom:focus:-ms-input-placeholder, input[type="datetime-local"].input-custom:focus:-ms-input-placeholder, input[type="date"].input-custom:focus:-ms-input-placeholder,
input[type="month"].input-custom:focus:-ms-input-placeholder, input[type="time"].input-custom:focus:-ms-input-placeholder, input[type="week"].input-custom:focus:-ms-input-placeholder, input[type="number"].input-custom:focus:-ms-input-placeholder,
input[type="email"].input-custom:focus:-ms-input-placeholder, input[type="url"].input-custom:focus:-ms-input-placeholder, input[type="search"].input-custom:focus:-ms-input-placeholder, input[type="tel"].input-custom:focus:-ms-input-placeholder,
input[type="color"].input-custom:focus:-ms-input-placeholder,
.uneditable-input.input-custom:focus:-ms-input-placeholder {
  color: transparent !important;
}

select.input-custom.clear, textarea.input-custom.clear,
input[type="text"].input-custom.clear,
input[type="password"].input-custom.clear, input[type="datetime"].input-custom.clear, input[type="datetime-local"].input-custom.clear, input[type="date"].input-custom.clear,
input[type="month"].input-custom.clear, input[type="time"].input-custom.clear, input[type="week"].input-custom.clear, input[type="number"].input-custom.clear,
input[type="email"].input-custom.clear, input[type="url"].input-custom.clear, input[type="search"].input-custom.clear, input[type="tel"].input-custom.clear,
input[type="color"].input-custom.clear,
.uneditable-input.input-custom.clear {
  background: transparent;
  border: 1px solid #fff;
}

select.input-custom.clear::-webkit-input-placeholder, textarea.input-custom.clear::-webkit-input-placeholder,
input[type="text"].input-custom.clear::-webkit-input-placeholder,
input[type="password"].input-custom.clear::-webkit-input-placeholder, input[type="datetime"].input-custom.clear::-webkit-input-placeholder, input[type="datetime-local"].input-custom.clear::-webkit-input-placeholder, input[type="date"].input-custom.clear::-webkit-input-placeholder,
input[type="month"].input-custom.clear::-webkit-input-placeholder, input[type="time"].input-custom.clear::-webkit-input-placeholder, input[type="week"].input-custom.clear::-webkit-input-placeholder, input[type="number"].input-custom.clear::-webkit-input-placeholder,
input[type="email"].input-custom.clear::-webkit-input-placeholder, input[type="url"].input-custom.clear::-webkit-input-placeholder, input[type="search"].input-custom.clear::-webkit-input-placeholder, input[type="tel"].input-custom.clear::-webkit-input-placeholder,
input[type="color"].input-custom.clear::-webkit-input-placeholder,
.uneditable-input.input-custom.clear::-webkit-input-placeholder {
  color: #fff;
  font-size: 0.85714em;
}

select.input-custom.clear:-moz-placeholder, textarea.input-custom.clear:-moz-placeholder,
input[type="text"].input-custom.clear:-moz-placeholder,
input[type="password"].input-custom.clear:-moz-placeholder, input[type="datetime"].input-custom.clear:-moz-placeholder, input[type="datetime-local"].input-custom.clear:-moz-placeholder, input[type="date"].input-custom.clear:-moz-placeholder,
input[type="month"].input-custom.clear:-moz-placeholder, input[type="time"].input-custom.clear:-moz-placeholder, input[type="week"].input-custom.clear:-moz-placeholder, input[type="number"].input-custom.clear:-moz-placeholder,
input[type="email"].input-custom.clear:-moz-placeholder, input[type="url"].input-custom.clear:-moz-placeholder, input[type="search"].input-custom.clear:-moz-placeholder, input[type="tel"].input-custom.clear:-moz-placeholder,
input[type="color"].input-custom.clear:-moz-placeholder,
.uneditable-input.input-custom.clear:-moz-placeholder {
  color: #fff;
  font-size: 0.85714em;
}

select.input-custom.clear::-moz-placeholder, textarea.input-custom.clear::-moz-placeholder,
input[type="text"].input-custom.clear::-moz-placeholder,
input[type="password"].input-custom.clear::-moz-placeholder, input[type="datetime"].input-custom.clear::-moz-placeholder, input[type="datetime-local"].input-custom.clear::-moz-placeholder, input[type="date"].input-custom.clear::-moz-placeholder,
input[type="month"].input-custom.clear::-moz-placeholder, input[type="time"].input-custom.clear::-moz-placeholder, input[type="week"].input-custom.clear::-moz-placeholder, input[type="number"].input-custom.clear::-moz-placeholder,
input[type="email"].input-custom.clear::-moz-placeholder, input[type="url"].input-custom.clear::-moz-placeholder, input[type="search"].input-custom.clear::-moz-placeholder, input[type="tel"].input-custom.clear::-moz-placeholder,
input[type="color"].input-custom.clear::-moz-placeholder,
.uneditable-input.input-custom.clear::-moz-placeholder {
  color: #fff;
  font-size: 0.85714em;
}

select.input-custom.clear:-ms-input-placeholder, textarea.input-custom.clear:-ms-input-placeholder,
input[type="text"].input-custom.clear:-ms-input-placeholder,
input[type="password"].input-custom.clear:-ms-input-placeholder, input[type="datetime"].input-custom.clear:-ms-input-placeholder, input[type="datetime-local"].input-custom.clear:-ms-input-placeholder, input[type="date"].input-custom.clear:-ms-input-placeholder,
input[type="month"].input-custom.clear:-ms-input-placeholder, input[type="time"].input-custom.clear:-ms-input-placeholder, input[type="week"].input-custom.clear:-ms-input-placeholder, input[type="number"].input-custom.clear:-ms-input-placeholder,
input[type="email"].input-custom.clear:-ms-input-placeholder, input[type="url"].input-custom.clear:-ms-input-placeholder, input[type="search"].input-custom.clear:-ms-input-placeholder, input[type="tel"].input-custom.clear:-ms-input-placeholder,
input[type="color"].input-custom.clear:-ms-input-placeholder,
.uneditable-input.input-custom.clear:-ms-input-placeholder {
  color: #fff;
  font-size: 0.85714em;
}

select.input-custom.clear:focus::-webkit-input-placeholder, textarea.input-custom.clear:focus::-webkit-input-placeholder,
input[type="text"].input-custom.clear:focus::-webkit-input-placeholder,
input[type="password"].input-custom.clear:focus::-webkit-input-placeholder, input[type="datetime"].input-custom.clear:focus::-webkit-input-placeholder, input[type="datetime-local"].input-custom.clear:focus::-webkit-input-placeholder, input[type="date"].input-custom.clear:focus::-webkit-input-placeholder,
input[type="month"].input-custom.clear:focus::-webkit-input-placeholder, input[type="time"].input-custom.clear:focus::-webkit-input-placeholder, input[type="week"].input-custom.clear:focus::-webkit-input-placeholder, input[type="number"].input-custom.clear:focus::-webkit-input-placeholder,
input[type="email"].input-custom.clear:focus::-webkit-input-placeholder, input[type="url"].input-custom.clear:focus::-webkit-input-placeholder, input[type="search"].input-custom.clear:focus::-webkit-input-placeholder, input[type="tel"].input-custom.clear:focus::-webkit-input-placeholder,
input[type="color"].input-custom.clear:focus::-webkit-input-placeholder,
.uneditable-input.input-custom.clear:focus::-webkit-input-placeholder {
  color: transparent !important;
}

select.input-custom.clear:focus:-moz-placeholder, textarea.input-custom.clear:focus:-moz-placeholder,
input[type="text"].input-custom.clear:focus:-moz-placeholder,
input[type="password"].input-custom.clear:focus:-moz-placeholder, input[type="datetime"].input-custom.clear:focus:-moz-placeholder, input[type="datetime-local"].input-custom.clear:focus:-moz-placeholder, input[type="date"].input-custom.clear:focus:-moz-placeholder,
input[type="month"].input-custom.clear:focus:-moz-placeholder, input[type="time"].input-custom.clear:focus:-moz-placeholder, input[type="week"].input-custom.clear:focus:-moz-placeholder, input[type="number"].input-custom.clear:focus:-moz-placeholder,
input[type="email"].input-custom.clear:focus:-moz-placeholder, input[type="url"].input-custom.clear:focus:-moz-placeholder, input[type="search"].input-custom.clear:focus:-moz-placeholder, input[type="tel"].input-custom.clear:focus:-moz-placeholder,
input[type="color"].input-custom.clear:focus:-moz-placeholder,
.uneditable-input.input-custom.clear:focus:-moz-placeholder {
  color: transparent !important;
}

select.input-custom.clear:focus::-moz-placeholder, textarea.input-custom.clear:focus::-moz-placeholder,
input[type="text"].input-custom.clear:focus::-moz-placeholder,
input[type="password"].input-custom.clear:focus::-moz-placeholder, input[type="datetime"].input-custom.clear:focus::-moz-placeholder, input[type="datetime-local"].input-custom.clear:focus::-moz-placeholder, input[type="date"].input-custom.clear:focus::-moz-placeholder,
input[type="month"].input-custom.clear:focus::-moz-placeholder, input[type="time"].input-custom.clear:focus::-moz-placeholder, input[type="week"].input-custom.clear:focus::-moz-placeholder, input[type="number"].input-custom.clear:focus::-moz-placeholder,
input[type="email"].input-custom.clear:focus::-moz-placeholder, input[type="url"].input-custom.clear:focus::-moz-placeholder, input[type="search"].input-custom.clear:focus::-moz-placeholder, input[type="tel"].input-custom.clear:focus::-moz-placeholder,
input[type="color"].input-custom.clear:focus::-moz-placeholder,
.uneditable-input.input-custom.clear:focus::-moz-placeholder {
  color: transparent !important;
}

select.input-custom.clear:focus:-ms-input-placeholder, textarea.input-custom.clear:focus:-ms-input-placeholder,
input[type="text"].input-custom.clear:focus:-ms-input-placeholder,
input[type="password"].input-custom.clear:focus:-ms-input-placeholder, input[type="datetime"].input-custom.clear:focus:-ms-input-placeholder, input[type="datetime-local"].input-custom.clear:focus:-ms-input-placeholder, input[type="date"].input-custom.clear:focus:-ms-input-placeholder,
input[type="month"].input-custom.clear:focus:-ms-input-placeholder, input[type="time"].input-custom.clear:focus:-ms-input-placeholder, input[type="week"].input-custom.clear:focus:-ms-input-placeholder, input[type="number"].input-custom.clear:focus:-ms-input-placeholder,
input[type="email"].input-custom.clear:focus:-ms-input-placeholder, input[type="url"].input-custom.clear:focus:-ms-input-placeholder, input[type="search"].input-custom.clear:focus:-ms-input-placeholder, input[type="tel"].input-custom.clear:focus:-ms-input-placeholder,
input[type="color"].input-custom.clear:focus:-ms-input-placeholder,
.uneditable-input.input-custom.clear:focus:-ms-input-placeholder {
  color: transparent !important;
}

.modal-custom .modal-header {
  position: relative;
  border-bottom: none;
}

.modal-custom .modal-header .close {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 40px;
  color: #f48120;
}

.modal-custom.modal-custom-login .modal-header .modal-title {
  position: relative;
}

.modal-custom.modal-custom-login .modal-header .modal-title::before {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  content: '';
  width: 50px;
  height: 3px;
  background: #f48120;
}

.modal-custom.modal-custom-login .modal-body .input-custom::-webkit-input-placeholder {
  padding: 0 15px 0 30px;
  margin: 1px 0 0 0px;
  color: #bcbcbc;
  font-style: italic;
  font-size: 0.85714em;
}

.modal-custom.modal-custom-login .modal-body .input-custom:-moz-placeholder {
  padding: 0 15px 0 30px;
  margin: 1px 0 0 0px;
  color: #bcbcbc;
  font-style: italic;
  font-size: 0.85714em;
}

.modal-custom.modal-custom-login .modal-body .input-custom::-moz-placeholder {
  padding: 0 15px 0 30px;
  margin: 1px 0 0 0px;
  color: #bcbcbc;
  font-style: italic;
  font-size: 0.85714em;
}

.modal-custom.modal-custom-login .modal-body .input-custom:-ms-input-placeholder {
  padding: 0 15px 0 30px;
  margin: 1px 0 0 0px;
  color: #bcbcbc;
  font-style: italic;
  font-size: 0.85714em;
}

.modal-custom.modal-custom-login .modal-body .input-custom:focus::-webkit-input-placeholder {
  color: transparent !important;
}

.modal-custom.modal-custom-login .modal-body .input-custom:focus:-moz-placeholder {
  color: transparent !important;
}

.modal-custom.modal-custom-login .modal-body .input-custom:focus::-moz-placeholder {
  color: transparent !important;
}

.modal-custom.modal-custom-login .modal-body .input-custom:focus:-ms-input-placeholder {
  color: transparent !important;
}

.modal-custom.modal-custom-login .modal-body input[type="text"] {
  background-image: url("../images/ico-form-uname.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 20px 19px;
  background-position: 10px 50%;
}

.modal-custom.modal-custom-login .modal-body input[type="text"]:focus {
  background: none;
}

.modal-custom.modal-custom-login .modal-body input[type="password"] {
  background-image: url("../images/ico-form-pass.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 19px 19px;
  background-position: 10px 50%;
}

.modal-custom.modal-custom-login .modal-body input[type="password"]:focus {
  background: none;
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue-01.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Helvetica Neue";
}

body p,
body a {
  font-family: "Helvetica Neue";
}

.btn {
  background: #F48120;
  border-radius: 50px !important;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid #F48120;
}

.btn.btn-custom {
  width: auto;
  padding: .375rem 1rem;
}

.btn:focus,
.btn:hover {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #F48120;
  background: #FFFFFF;
  color: #F48120;
}

#invite-register-page .main-box, .box-section .main-box {
  -webkit-transform: translateX(-50%) translateY(-15%);
          transform: translateX(-50%) translateY(-15%);
  margin-bottom: 140px;
}

@media (max-width: 768px) {
  #invite-register-page .main-box, .box-section .main-box {
    margin-bottom: 60px;
  }
}

#invite-otp-page .main-box {
  -webkit-transform: translateX(-50%) translateY(-20%);
          transform: translateX(-50%) translateY(-20%);
  top: 560px !important;
}

@media (max-width: 768px) {
  #invite-otp-page .main-box {
    top: 415px !important;
  }
}

#invite-otp-page .main-box #i-otp {
  margin-bottom: 90px;
}

#invite-otp-page .main-box #i-otp .form-group input {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 20px !important;
  line-height: 30px !important;
  color: #404041 !important;
}

#invite-otp-page .main-box .policy {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #404041;
}

#invite-download-page {
  background: #F48120;
}

#invite-download-page .main-box {
  top: 570px !important;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  #invite-download-page .main-box {
    top: 365px !important;
  }
}

#invite-download-page .main-box .title {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 10px;
  text-align: center;
}

#invite-download-page .main-box .sub-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}

#invite-download-page .main-box .download-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#invite-download-page .main-box .download-box .item {
  text-align: center;
  padding: 0 10px;
}

#invite-download-page .main-box .download-box .item a img {
  height: 40px;
}

#invite-register-page, .box-section,
#invite-otp-page,
#invite-download-page {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  background: #e5e5e5 url("../images/i-register-bg.png") top center no-repeat;
  background-size: contain;
}

#invite-register-page .bg-img, .box-section .bg-img,
#invite-otp-page .bg-img,
#invite-download-page .bg-img {
  max-width: 100%;
}

#invite-register-page .main-box, .box-section .main-box,
#invite-otp-page .main-box,
#invite-download-page .main-box {
  width: 860px;
  max-width: 100%;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 500px;
}

@media (max-width: 768px) {
  #invite-register-page .main-box, .box-section .main-box,
  #invite-otp-page .main-box,
  #invite-download-page .main-box {
    top: 370px;
    width: 90%;
  }
}

#invite-register-page .main-box .sologan, .box-section .main-box .sologan,
#invite-otp-page .main-box .sologan,
#invite-download-page .main-box .sologan {
  text-align: center;
  margin-bottom: 30px;
}

#invite-register-page .main-box .sologan span, .box-section .main-box .sologan span,
#invite-otp-page .main-box .sologan span,
#invite-download-page .main-box .sologan span {
  display: block;
}

#invite-register-page .main-box .sologan span:first-child, .box-section .main-box .sologan span:first-child,
#invite-otp-page .main-box .sologan span:first-child,
#invite-download-page .main-box .sologan span:first-child {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #F48120;
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  #invite-register-page .main-box .sologan span:first-child, .box-section .main-box .sologan span:first-child,
  #invite-otp-page .main-box .sologan span:first-child,
  #invite-download-page .main-box .sologan span:first-child {
    font-size: 20px;
  }
}

#invite-register-page .main-box .sologan span:last-child, .box-section .main-box .sologan span:last-child,
#invite-otp-page .main-box .sologan span:last-child,
#invite-download-page .main-box .sologan span:last-child {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #404041;
}

@media (max-width: 768px) {
  #invite-register-page .main-box .sologan span:last-child, .box-section .main-box .sologan span:last-child,
  #invite-otp-page .main-box .sologan span:last-child,
  #invite-download-page .main-box .sologan span:last-child {
    font-size: 14px;
  }
}

#invite-register-page .main-box .otpgan, .box-section .main-box .otpgan,
#invite-otp-page .main-box .otpgan,
#invite-download-page .main-box .otpgan {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #404041;
  margin-top: 0;
  margin-bottom: 45px;
}

#invite-register-page .main-box #i-register, .box-section .main-box #i-register,
#invite-otp-page .main-box #i-register,
#invite-download-page .main-box #i-register,
#invite-register-page .main-box #i-otp,
.box-section .main-box #i-otp,
#invite-otp-page .main-box #i-otp,
#invite-download-page .main-box #i-otp {
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

#invite-register-page .main-box #i-register .title, .box-section .main-box #i-register .title,
#invite-otp-page .main-box #i-register .title,
#invite-download-page .main-box #i-register .title,
#invite-register-page .main-box #i-otp .title,
.box-section .main-box #i-otp .title,
#invite-otp-page .main-box #i-otp .title,
#invite-download-page .main-box #i-otp .title {
  color: #404041;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin: 0 0 25px;
}

#invite-register-page .main-box #i-register .form-otp-group input, .box-section .main-box #i-register .form-otp-group input,
#invite-otp-page .main-box #i-register .form-otp-group input,
#invite-download-page .main-box #i-register .form-otp-group input,
#invite-register-page .main-box #i-otp .form-otp-group input,
.box-section .main-box #i-otp .form-otp-group input,
#invite-otp-page .main-box #i-otp .form-otp-group input,
#invite-download-page .main-box #i-otp .form-otp-group input {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #404041;
  width: 100%;
  text-align: center;
  letter-spacing: 20px;
  border: none;
  border-bottom: 1px solid #F48120;
}

#invite-register-page .main-box #i-register .form-otp-group input:focus, .box-section .main-box #i-register .form-otp-group input:focus,
#invite-otp-page .main-box #i-register .form-otp-group input:focus,
#invite-download-page .main-box #i-register .form-otp-group input:focus,
#invite-register-page .main-box #i-otp .form-otp-group input:focus,
.box-section .main-box #i-otp .form-otp-group input:focus,
#invite-otp-page .main-box #i-otp .form-otp-group input:focus,
#invite-download-page .main-box #i-otp .form-otp-group input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#invite-register-page .main-box #i-register .form-group, .box-section .main-box #i-register .form-group,
#invite-otp-page .main-box #i-register .form-group,
#invite-download-page .main-box #i-register .form-group,
#invite-register-page .main-box #i-otp .form-group,
.box-section .main-box #i-otp .form-group,
#invite-otp-page .main-box #i-otp .form-group,
#invite-download-page .main-box #i-otp .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #F48120 !important;
  padding-bottom: 10px !important;
  margin-bottom: 15px;
}

#invite-register-page .main-box #i-register .form-group:last-child, .box-section .main-box #i-register .form-group:last-child,
#invite-otp-page .main-box #i-register .form-group:last-child,
#invite-download-page .main-box #i-register .form-group:last-child,
#invite-register-page .main-box #i-otp .form-group:last-child,
.box-section .main-box #i-otp .form-group:last-child,
#invite-otp-page .main-box #i-otp .form-group:last-child,
#invite-download-page .main-box #i-otp .form-group:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

#invite-register-page .main-box #i-register .form-group > *, .box-section .main-box #i-register .form-group > *,
#invite-otp-page .main-box #i-register .form-group > *,
#invite-download-page .main-box #i-register .form-group > *,
#invite-register-page .main-box #i-otp .form-group > *,
.box-section .main-box #i-otp .form-group > *,
#invite-otp-page .main-box #i-otp .form-group > *,
#invite-download-page .main-box #i-otp .form-group > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#invite-register-page .main-box #i-register .form-group .ico, .box-section .main-box #i-register .form-group .ico,
#invite-otp-page .main-box #i-register .form-group .ico,
#invite-download-page .main-box #i-register .form-group .ico,
#invite-register-page .main-box #i-otp .form-group .ico,
.box-section .main-box #i-otp .form-group .ico,
#invite-otp-page .main-box #i-otp .form-group .ico,
#invite-download-page .main-box #i-otp .form-group .ico {
  width: 50px;
  text-align: center;
}

#invite-register-page .main-box #i-register .form-group .ico img, .box-section .main-box #i-register .form-group .ico img,
#invite-otp-page .main-box #i-register .form-group .ico img,
#invite-download-page .main-box #i-register .form-group .ico img,
#invite-register-page .main-box #i-otp .form-group .ico img,
.box-section .main-box #i-otp .form-group .ico img,
#invite-otp-page .main-box #i-otp .form-group .ico img,
#invite-download-page .main-box #i-otp .form-group .ico img {
  height: 25px;
  width: auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

#invite-register-page .main-box #i-register .form-group .ico-large, .box-section .main-box #i-register .form-group .ico-large,
#invite-otp-page .main-box #i-register .form-group .ico-large,
#invite-download-page .main-box #i-register .form-group .ico-large,
#invite-register-page .main-box #i-otp .form-group .ico-large,
.box-section .main-box #i-otp .form-group .ico-large,
#invite-otp-page .main-box #i-otp .form-group .ico-large,
#invite-download-page .main-box #i-otp .form-group .ico-large {
  padding-right: 40px;
}

#invite-register-page .main-box #i-register .form-group .ico-large img, .box-section .main-box #i-register .form-group .ico-large img,
#invite-otp-page .main-box #i-register .form-group .ico-large img,
#invite-download-page .main-box #i-register .form-group .ico-large img,
#invite-register-page .main-box #i-otp .form-group .ico-large img,
.box-section .main-box #i-otp .form-group .ico-large img,
#invite-otp-page .main-box #i-otp .form-group .ico-large img,
#invite-download-page .main-box #i-otp .form-group .ico-large img {
  height: 29px;
  width: auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

#invite-register-page .main-box #i-register .form-group input, .box-section .main-box #i-register .form-group input,
#invite-otp-page .main-box #i-register .form-group input,
#invite-download-page .main-box #i-register .form-group input,
#invite-register-page .main-box #i-otp .form-group input,
.box-section .main-box #i-otp .form-group input,
#invite-otp-page .main-box #i-otp .form-group input,
#invite-download-page .main-box #i-otp .form-group input,
#invite-register-page .main-box #i-register .form-group select,
.box-section .main-box #i-register .form-group select,
#invite-otp-page .main-box #i-register .form-group select,
#invite-download-page .main-box #i-register .form-group select,
#invite-register-page .main-box #i-otp .form-group select,
.box-section .main-box #i-otp .form-group select,
#invite-otp-page .main-box #i-otp .form-group select,
#invite-download-page .main-box #i-otp .form-group select {
  border: none;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #404041;
  border-left: 1px solid #F48120;
  padding-left: 15px;
  width: 100%;
}

#invite-register-page .main-box #i-register .form-group input:disabled, .box-section .main-box #i-register .form-group input:disabled,
#invite-otp-page .main-box #i-register .form-group input:disabled,
#invite-download-page .main-box #i-register .form-group input:disabled,
#invite-register-page .main-box #i-otp .form-group input:disabled,
.box-section .main-box #i-otp .form-group input:disabled,
#invite-otp-page .main-box #i-otp .form-group input:disabled,
#invite-download-page .main-box #i-otp .form-group input:disabled,
#invite-register-page .main-box #i-register .form-group select:disabled,
.box-section .main-box #i-register .form-group select:disabled,
#invite-otp-page .main-box #i-register .form-group select:disabled,
#invite-download-page .main-box #i-register .form-group select:disabled,
#invite-register-page .main-box #i-otp .form-group select:disabled,
.box-section .main-box #i-otp .form-group select:disabled,
#invite-otp-page .main-box #i-otp .form-group select:disabled,
#invite-download-page .main-box #i-otp .form-group select:disabled {
  background: transparent;
}

#invite-register-page .main-box #i-register .form-group input:focus, .box-section .main-box #i-register .form-group input:focus,
#invite-otp-page .main-box #i-register .form-group input:focus,
#invite-download-page .main-box #i-register .form-group input:focus,
#invite-register-page .main-box #i-otp .form-group input:focus,
.box-section .main-box #i-otp .form-group input:focus,
#invite-otp-page .main-box #i-otp .form-group input:focus,
#invite-download-page .main-box #i-otp .form-group input:focus,
#invite-register-page .main-box #i-register .form-group select:focus,
.box-section .main-box #i-register .form-group select:focus,
#invite-otp-page .main-box #i-register .form-group select:focus,
#invite-download-page .main-box #i-register .form-group select:focus,
#invite-register-page .main-box #i-otp .form-group select:focus,
.box-section .main-box #i-otp .form-group select:focus,
#invite-otp-page .main-box #i-otp .form-group select:focus,
#invite-download-page .main-box #i-otp .form-group select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#invite-register-page .main-box #i-register .form-button-group, .box-section .main-box #i-register .form-button-group,
#invite-otp-page .main-box #i-register .form-button-group,
#invite-download-page .main-box #i-register .form-button-group,
#invite-register-page .main-box #i-otp .form-button-group,
.box-section .main-box #i-otp .form-button-group,
#invite-otp-page .main-box #i-otp .form-button-group,
#invite-download-page .main-box #i-otp .form-button-group {
  margin: 30px 0 20px;
  text-align: center;
}

#invite-register-page .main-box #i-register .form-button-group a, .box-section .main-box #i-register .form-button-group a,
#invite-otp-page .main-box #i-register .form-button-group a,
#invite-download-page .main-box #i-register .form-button-group a,
#invite-register-page .main-box #i-otp .form-button-group a,
.box-section .main-box #i-otp .form-button-group a,
#invite-otp-page .main-box #i-otp .form-button-group a,
#invite-download-page .main-box #i-otp .form-button-group a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F48120;
  text-decoration: none;
}

#invite-register-page .main-box #i-register .form-button-group a:hover, .box-section .main-box #i-register .form-button-group a:hover,
#invite-otp-page .main-box #i-register .form-button-group a:hover,
#invite-download-page .main-box #i-register .form-button-group a:hover,
#invite-register-page .main-box #i-otp .form-button-group a:hover,
.box-section .main-box #i-otp .form-button-group a:hover,
#invite-otp-page .main-box #i-otp .form-button-group a:hover,
#invite-download-page .main-box #i-otp .form-button-group a:hover {
  color: #c24f00;
}

#map {
  position: relative;
}

#map:after {
  width: 22px;
  height: 40px;
  display: block;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -11px;
  background: url("http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png");
  background-size: 22px 40px;
  /* Since I used the HiDPI marker version this compensates for the 2x size */
  pointer-events: none;
  /* This disables clicks on the marker. Not fully supported by all major browsers, though */
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  border: 0px solid #aaa;
  border-radius: 0px;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 0px solid #aaa !important;
}

.select2-container .select2-selection--multiple {
  display: -ms-grid;
  display: grid;
  min-height: 30px;
}

input.select2-search__field {
  width: 100% !important;
}

.select2-container .select2-search--inline .select2-search__field {
  margin-top: 0px;
}

#loadding_page {
  height: 100%;
  display: table;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fafafafc;
  z-index: 10;
  text-align: center;
}

#loadding_page div {
  vertical-align: middle;
  display: table-cell;
}

.title-field {
  position: relative;
  padding: 5px 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.title-field:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  border-left: 5px #F48120 solid;
  height: 100%;
}

.txtFullName {
  text-transform: capitalize;
}

.box-section {
  background: #e5e5e5 url(../images/i-register-bg.png) top center no-repeat fixed;
  background-size: contain;
}

.box-section .main-box {
  margin: 100px auto 0;
  position: relative;
  top: auto;
  left: auto;
  -webkit-transform: translateX(0%) translateY(0%);
  -khtml-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
}

@media only screen and (min-width: 860px) {
  .box-section .main-box {
    margin-top: 300px;
  }
}

@media only screen and (max-width: 767px) {
  .box-section .main-box {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #invite-register-page .main-box #i-register, .box-section .main-box #i-register {
    padding: 50px 30px 0;
  }
}

.butterfly-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 35px;
  color: #fff;
  background: #f48120;
  -moz-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

.butterfly-btn:hover {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .butterfly-btn {
    padding: 6px 25px;
  }
}
/*# sourceMappingURL=style.css.map */