// IMPORT
// @import "_sass-element";

@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/HelveticaNeue-01.woff") format('woff');
}

// @font-face {
// 	font-family: 'Helvetica Neue';
// 	font-style: normal;
// 	font-weight: 700;
// 	src: url("../fonts/invite/HelveticaNeue-bold-02.woff") format('woff');
// }

body {
	margin: 0;
	font-family: "Helvetica Neue";
}

body p,
body a {
	font-family: "Helvetica Neue";
}

.btn {
	background: #F48120;
	border-radius: 50px!important;
	width: 100%;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
	border: none;
	margin-top: 10px;
	cursor: pointer;
	border: 1px solid #F48120;

	&.btn-custom {
		width: auto;
		padding: .375rem 1rem
	}
}

.btn:focus,
.btn:hover {
	outline: none;
	box-shadow: none;
	border: 1px solid #F48120;
	background: #FFFFFF;
	color: #F48120;
}

#invite-register-page .main-box {
	transform: translateX(-50%) translateY(-15%);
	margin-bottom: 140px;
}

@media (max-width: 768px) {
	#invite-register-page .main-box {
		margin-bottom: 60px;
	}
}

#invite-otp-page .main-box {
	transform: translateX(-50%) translateY(-20%);
	top: 560px !important;
}

@media (max-width: 768px) {
	#invite-otp-page .main-box {
		top: 415px !important;
	}
}

#invite-otp-page .main-box #i-otp {
	margin-bottom: 90px;
}

#invite-otp-page .main-box #i-otp .form-group input {
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 20px !important;
	line-height: 30px !important;
	color: #404041 !important;
}

#invite-otp-page .main-box .policy {
	margin-bottom: 30px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #404041;
}

#invite-download-page {
	background: #F48120;
}

#invite-download-page .main-box {
	top: 570px !important;
	transform: translateX(-50%);
}

@media (max-width: 768px) {
	#invite-download-page .main-box {
		top: 365px !important;
	}
}

#invite-download-page .main-box .title {
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 32px;
	color: #FFFFFF;
	margin-bottom: 10px;
	text-align: center;
}

#invite-download-page .main-box .sub-title {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 30px;
}

#invite-download-page .main-box .download-box {
	display: flex;
	justify-content: center;
}

#invite-download-page .main-box .download-box .item {
	text-align: center;
	padding: 0 10px;
}

#invite-download-page .main-box .download-box .item a img {
	height: 40px;
}

#invite-register-page,
#invite-otp-page,
#invite-download-page {
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;
	background: #e5e5e5 url('../images/i-register-bg.png') top center no-repeat;
	background-size: contain;
}

#invite-register-page .bg-img,
#invite-otp-page .bg-img,
#invite-download-page .bg-img {
	max-width: 100%;
}

#invite-register-page .main-box,
#invite-otp-page .main-box,
#invite-download-page .main-box {
	width: 860px;
	max-width: 100%;
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 500px;
}

@media (max-width: 768px) {
	#invite-register-page .main-box,
	#invite-otp-page .main-box,
	#invite-download-page .main-box {
		top: 370px;
		width: 90%;
	}
}

#invite-register-page .main-box .sologan,
#invite-otp-page .main-box .sologan,
#invite-download-page .main-box .sologan {
	text-align: center;
	margin-bottom: 30px;
}

#invite-register-page .main-box .sologan span,
#invite-otp-page .main-box .sologan span,
#invite-download-page .main-box .sologan span {
	display: block;
}

#invite-register-page .main-box .sologan span:first-child,
#invite-otp-page .main-box .sologan span:first-child,
#invite-download-page .main-box .sologan span:first-child {
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 32px;
	color: #F48120;
	margin-bottom: 4px;
}

@media (max-width: 768px) {
	#invite-register-page .main-box .sologan span:first-child,
	#invite-otp-page .main-box .sologan span:first-child,
	#invite-download-page .main-box .sologan span:first-child {
		font-size: 20px;
	}
}

#invite-register-page .main-box .sologan span:last-child,
#invite-otp-page .main-box .sologan span:last-child,
#invite-download-page .main-box .sologan span:last-child {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #404041;
}

@media (max-width: 768px) {
	#invite-register-page .main-box .sologan span:last-child,
	#invite-otp-page .main-box .sologan span:last-child,
	#invite-download-page .main-box .sologan span:last-child {
		font-size: 14px;
	}
}

#invite-register-page .main-box .otpgan,
#invite-otp-page .main-box .otpgan,
#invite-download-page .main-box .otpgan {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #404041;
	margin-top: 0;
	margin-bottom: 45px;
}

#invite-register-page .main-box #i-register,
#invite-otp-page .main-box #i-register,
#invite-download-page .main-box #i-register,
#invite-register-page .main-box #i-otp,
#invite-otp-page .main-box #i-otp,
#invite-download-page .main-box #i-otp {
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
	padding: 30px;
}

#invite-register-page .main-box #i-register .title,
#invite-otp-page .main-box #i-register .title,
#invite-download-page .main-box #i-register .title,
#invite-register-page .main-box #i-otp .title,
#invite-otp-page .main-box #i-otp .title,
#invite-download-page .main-box #i-otp .title {
	color: #404041;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
	margin: 0 0 25px;
}

#invite-register-page .main-box #i-register .form-otp-group input,
#invite-otp-page .main-box #i-register .form-otp-group input,
#invite-download-page .main-box #i-register .form-otp-group input,
#invite-register-page .main-box #i-otp .form-otp-group input,
#invite-otp-page .main-box #i-otp .form-otp-group input,
#invite-download-page .main-box #i-otp .form-otp-group input {
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	color: #404041;
	width: 100%;
	text-align: center;
	letter-spacing: 20px;
	border: none;
	border-bottom: 1px solid #F48120;
}

#invite-register-page .main-box #i-register .form-otp-group input:focus,
#invite-otp-page .main-box #i-register .form-otp-group input:focus,
#invite-download-page .main-box #i-register .form-otp-group input:focus,
#invite-register-page .main-box #i-otp .form-otp-group input:focus,
#invite-otp-page .main-box #i-otp .form-otp-group input:focus,
#invite-download-page .main-box #i-otp .form-otp-group input:focus {
	outline: none;
	box-shadow: none;
}

#invite-register-page .main-box #i-register .form-group,
#invite-otp-page .main-box #i-register .form-group,
#invite-download-page .main-box #i-register .form-group,
#invite-register-page .main-box #i-otp .form-group,
#invite-otp-page .main-box #i-otp .form-group,
#invite-download-page .main-box #i-otp .form-group {
	display: flex;
	border-bottom: 1px solid #F48120 !important;
	padding-bottom: 10px!important;
	margin-bottom: 15px;
}

#invite-register-page .main-box #i-register .form-group:last-child,
#invite-otp-page .main-box #i-register .form-group:last-child,
#invite-download-page .main-box #i-register .form-group:last-child,
#invite-register-page .main-box #i-otp .form-group:last-child,
#invite-otp-page .main-box #i-otp .form-group:last-child,
#invite-download-page .main-box #i-otp .form-group:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

#invite-register-page .main-box #i-register .form-group>*,
#invite-otp-page .main-box #i-register .form-group>*,
#invite-download-page .main-box #i-register .form-group>*,
#invite-register-page .main-box #i-otp .form-group>*,
#invite-otp-page .main-box #i-otp .form-group>*,
#invite-download-page .main-box #i-otp .form-group>* {
	align-self: center;
}

#invite-register-page .main-box #i-register .form-group .ico,
#invite-otp-page .main-box #i-register .form-group .ico,
#invite-download-page .main-box #i-register .form-group .ico,
#invite-register-page .main-box #i-otp .form-group .ico,
#invite-otp-page .main-box #i-otp .form-group .ico,
#invite-download-page .main-box #i-otp .form-group .ico {
	width: 50px;
	text-align: center;
}

#invite-register-page .main-box #i-register .form-group .ico img,
#invite-otp-page .main-box #i-register .form-group .ico img,
#invite-download-page .main-box #i-register .form-group .ico img,
#invite-register-page .main-box #i-otp .form-group .ico img,
#invite-otp-page .main-box #i-otp .form-group .ico img,
#invite-download-page .main-box #i-otp .form-group .ico img {
	height: 25px;
	width: auto;
	object-fit: scale-down;
}

#invite-register-page .main-box #i-register .form-group .ico-large,
#invite-otp-page .main-box #i-register .form-group .ico-large,
#invite-download-page .main-box #i-register .form-group .ico-large,
#invite-register-page .main-box #i-otp .form-group .ico-large,
#invite-otp-page .main-box #i-otp .form-group .ico-large,
#invite-download-page .main-box #i-otp .form-group .ico-large {
	padding-right: 40px;
}

#invite-register-page .main-box #i-register .form-group .ico-large img,
#invite-otp-page .main-box #i-register .form-group .ico-large img,
#invite-download-page .main-box #i-register .form-group .ico-large img,
#invite-register-page .main-box #i-otp .form-group .ico-large img,
#invite-otp-page .main-box #i-otp .form-group .ico-large img,
#invite-download-page .main-box #i-otp .form-group .ico-large img {
	height: 29px;
	width: auto;
	object-fit: scale-down;
}

#invite-register-page .main-box #i-register .form-group input,
#invite-otp-page .main-box #i-register .form-group input,
#invite-download-page .main-box #i-register .form-group input,
#invite-register-page .main-box #i-otp .form-group input,
#invite-otp-page .main-box #i-otp .form-group input,
#invite-download-page .main-box #i-otp .form-group input,
#invite-register-page .main-box #i-register .form-group select,
#invite-otp-page .main-box #i-register .form-group select,
#invite-download-page .main-box #i-register .form-group select,
#invite-register-page .main-box #i-otp .form-group select,
#invite-otp-page .main-box #i-otp .form-group select,
#invite-download-page .main-box #i-otp .form-group select {
	border: none;
	height: 30px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #404041;
	border-left: 1px solid #F48120;
	padding-left: 15px;
	width: 100%;
}

#invite-register-page .main-box #i-register .form-group input:disabled,
#invite-otp-page .main-box #i-register .form-group input:disabled,
#invite-download-page .main-box #i-register .form-group input:disabled,
#invite-register-page .main-box #i-otp .form-group input:disabled,
#invite-otp-page .main-box #i-otp .form-group input:disabled,
#invite-download-page .main-box #i-otp .form-group input:disabled,
#invite-register-page .main-box #i-register .form-group select:disabled,
#invite-otp-page .main-box #i-register .form-group select:disabled,
#invite-download-page .main-box #i-register .form-group select:disabled,
#invite-register-page .main-box #i-otp .form-group select:disabled,
#invite-otp-page .main-box #i-otp .form-group select:disabled,
#invite-download-page .main-box #i-otp .form-group select:disabled {
	background: transparent;
}

#invite-register-page .main-box #i-register .form-group input:focus,
#invite-otp-page .main-box #i-register .form-group input:focus,
#invite-download-page .main-box #i-register .form-group input:focus,
#invite-register-page .main-box #i-otp .form-group input:focus,
#invite-otp-page .main-box #i-otp .form-group input:focus,
#invite-download-page .main-box #i-otp .form-group input:focus,
#invite-register-page .main-box #i-register .form-group select:focus,
#invite-otp-page .main-box #i-register .form-group select:focus,
#invite-download-page .main-box #i-register .form-group select:focus,
#invite-register-page .main-box #i-otp .form-group select:focus,
#invite-otp-page .main-box #i-otp .form-group select:focus,
#invite-download-page .main-box #i-otp .form-group select:focus {
	outline: none;
	box-shadow: none;
}

#invite-register-page .main-box #i-register .form-button-group,
#invite-otp-page .main-box #i-register .form-button-group,
#invite-download-page .main-box #i-register .form-button-group,
#invite-register-page .main-box #i-otp .form-button-group,
#invite-otp-page .main-box #i-otp .form-button-group,
#invite-download-page .main-box #i-otp .form-button-group {
	margin: 30px 0 20px;
	text-align: center;
}

#invite-register-page .main-box #i-register .form-button-group a,
#invite-otp-page .main-box #i-register .form-button-group a,
#invite-download-page .main-box #i-register .form-button-group a,
#invite-register-page .main-box #i-otp .form-button-group a,
#invite-otp-page .main-box #i-otp .form-button-group a,
#invite-download-page .main-box #i-otp .form-button-group a {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #F48120;
	text-decoration: none;
}

#invite-register-page .main-box #i-register .form-button-group a:hover,
#invite-otp-page .main-box #i-register .form-button-group a:hover,
#invite-download-page .main-box #i-register .form-button-group a:hover,
#invite-register-page .main-box #i-otp .form-button-group a:hover,
#invite-otp-page .main-box #i-otp .form-button-group a:hover,
#invite-download-page .main-box #i-otp .form-button-group a:hover {
	color: #c24f00;
}

#map {
	position: relative;
}

#map:after {
	width: 22px;
	height: 40px;
	display: block;
	content: ' ';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -40px 0 0 -11px;
	background: url('http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png');
	background-size: 22px 40px;
	/* Since I used the HiDPI marker version this compensates for the 2x size */
	pointer-events: none;
	/* This disables clicks on the marker. Not fully supported by all major browsers, though */
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
	border: 0px solid #aaa;
	border-radius: 0px;
}

.select2-dropdown {
	background-color: white;
	border: 1px solid #aaa !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: 0px solid #aaa !important;
}

.select2-container .select2-selection--multiple {
	display: grid;
	min-height: 30px;
}

input.select2-search__field {
	width: 100% !important;
}

.select2-container .select2-search--inline .select2-search__field {
	margin-top: 0px;
}

#loadding_page {
	height: 100%;
	display: table;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fafafafc;
	z-index: 10;
	text-align: center;
}

#loadding_page div {
	vertical-align: middle;
	display: table-cell;
}

.title-field {
	position: relative;
	padding: 5px 15px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

.title-field:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0px;
	border-left: 5px #F48120 solid;
	height: 100%;
}

.txtFullName {
	text-transform: capitalize;
}