// IMPORT
// @import "_sass-element";

.box-section {
    @extend #invite-register-page;
    background: #e5e5e5 url(../images/i-register-bg.png) top center no-repeat fixed;
    background-size: contain;

    .main-box {
        
        margin: 100px auto 0;
        position: relative; top: auto; left: auto;
        @include scss_css3_prefix('transform', translateX(0%) translateY(0%));
        // --------- RESPONSIVE 
        @include scss_minw(860px) {
            margin-top: 300px;
        }
        @include scss_maxw(767px) {
            width: 100%;
        }
    }
}

#invite-register-page {

    .main-box #i-register {
        // --------- RESPONSIVE 
        @include scss_maxw(767px) {
            padding: 50px 30px 0;
        }
    }
}

// BUTTON DANG NHAP
.butterfly-btn {
    position: absolute; top: 0; right: 0;
    padding: 6px 35px;
    color: $clw;
    background: $clor;
    @include scss_border_side_radius(bottom-left, 10px);
    @include scss_border_side_radius(top-right, 10px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);

    &:hover {
        color: $clw;
        opacity: 0.5;
        text-decoration: none;
        @extend %tran-all;
    }

    // --------- RESPONSIVE 
    @include scss_maxw(767px) {
        padding: 6px 25px;
    }
}