
//---------------------------------------------------------------------------------------//
//--------.  VARIABLE  .-----------------------------------------------------------------//
//---------------------------------------------------------------------------------------//
$clb: #000;
$clw: #fff;
$clor: #f48120;
$clblue: #006c98;
$clgrey: #d0d0d0;
$clgreyDark: #979798;

$fsbase: 14px;

$awsome: 'Font Awesome 5 Free';
$clipf: 'clip-font';
$icof: 'icofont';

$font-sf-thin: 'san_francisco_textthin';
$font-sf-light: 'san_francisco_textlight';
$font-sf-reg: 'san_francisco_text_regularRg';
$font-sf-reg1: 'san_francisco_textregular_g1';
$font-sf-reg2: 'san_francisco_textregular_g2';
$font-sf-reg3: 'san_francisco_textregular_g3';
$font-sf-med: 'san_francisco_textmedium';
$font-sf-bold: 'san_francisco_textbold';

$br320 : 320px;
$br360 : 360px;
$br420 : 420px;
$br480 : 480px;
$br540 : 540px;
$br600 : 600px;
$br640 : 640px;
$br768 : 768px;
$br767 : 767px;
$br850 : 850px;
$br959 : 959px;
$br960 : 960px;
$br979 : 979px;
$br980 : 980px;
$br1024 : 1024px;
$br1023 : 1023px;
$br1000 : 1000px;
$br1040 : 1040px;
$br1170 : 1170px;
$br1180 : 1180px;
$br1220 : 1220px;
$br1279 : 1279px; 
$br1366 : 1366px;
$br1920 : 1920px;

// bootstrap col size
$bst768: 768px;
$bst767: 767px;
$bst992: 992px;
$bst991: 991px;
$bst1200: 1200px;
$bst1199: 1199px;


//---------------------------------------------------------------------------------------//
//--------.  MIXING  .-------------------------------------------------------------------//
//---------------------------------------------------------------------------------------//
@mixin scss_fl { float: left; }
@mixin scss_fr { float: right; }
@mixin scss_fl-m ($float) { float: $float; }
@mixin scss_fl-n ($float) { float: none; }

@mixin scss_maxw($device-width) {
    @media only screen and (max-width: $device-width) { @content; }
}

@mixin scss_minw($device-width) {
    @media only screen and (min-width: $device-width) { @content; }
}

@mixin scss_maxw-minw($max-width, $min-width) {
    @media only screen and (max-width: $max-width) and (min-width: $min-width) { @content; }
}

@mixin scss_minw-maxw($min-width, $max-width) {
    @media only screen and (min-width: $min-width) and (max-width: $max-width) { @content; }
}

@mixin scss_fonts($size, $family, $weight: 400) {
    font: {
        size: $size;
        family: $family, arial, Helvetica, sans-serif;
        weight: $weight;
    }
}

@mixin scss_font_color($size: $fsbase, $color: $black) {
    font: {
        size: $size;
    }
    color: $color;
}

@mixin scss_fs($font-size, $font-size-unbase: "") {
    @if $font-size-unbase != '' {
        font-size: $font-size/$font-size-unbase * 1em;
    } @else {
        font-size: scss_calcEm($font-size);
    }
}

@function scss_calcEm($font-size, $base: 14) {
    @return $font-size/$base * 1em;
}

@mixin scss_fc($size: $fsbase, $color: $black) {
    @include scss_fs($size);
    color: $color;
}

@mixin scss_transition_hover($property: color, $duration: .30s, $timing-function: ease-out) {
    -o-transition: $property $duration $timing-function;
    -ms-transition: $property $duration $timing-function;
    -moz-transition: $property $duration $timing-function;
    -webkit-transition: $property $duration $timing-function;
    transition: $property $duration $timing-function;
}

@mixin scss_transition($all) {
    @if length($all)==1 {
        @include scss_css3_prefix('transition', $all);
    }
    @else {
        @include scss_css3_prefix('transition', $all + ' ease-in-out');
    }
}

@mixin scss_animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@mixin scss_experimental($property, $value) {
    @include scss_css3_prefix($property, $value);
}

    @mixin scss_css3_prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -khtml-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}

@mixin scss_placeholder {
    &::-webkit-input-placeholder { @content }
    &:-moz-placeholder           { @content }
    &::-moz-placeholder          { @content }
    &:-ms-input-placeholder      { @content } 
    &:focus::-webkit-input-placeholder { color:transparent !important; }
    &:focus:-moz-placeholder { color:transparent !important; } 
    &:focus::-moz-placeholder { color:transparent !important; } 
    &:focus:-ms-input-placeholder { color:transparent !important; }
}

@mixin scss_placeholder_nonefocus {
    &::-webkit-input-placeholder { @content }
    &:-moz-placeholder           { @content }
    &::-moz-placeholder          { @content }
    &:-ms-input-placeholder      { @content } 
}

@mixin scss_bg($color, $image: "") {
    @if $color=="" {
        background-color: transparent;
    }
    @else {
        background-color: $color;
    }
    @if $image !="" {
        background-image: url('../images/'+$image);
    }
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 0;
}

@mixin scss_bg_img($image: "") {
    @if $image=="" {
        background-color: transparent;
    }
    @else {
        background-image: url('../images/'+$image);
    }
    @content;
}

@mixin scss_bg_icon($image: "") {
    background-image: url('../images/icon/'+$image);
    @content;
}

@mixin scss_bg_content {
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    @content;
}

@mixin scss_border($all, $sides: '') {
    @if $sides != '' {
    border-#{$sides}: #{$all};
    } @else {
    border: $all;
    }
}

@mixin scss_border_radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin scss_border_side_radius($side, $radius){
    -webkit-border-#{$side}-radius: $radius;
    -moz-border-#{$side}-radius: $radius;
    -ms-border-#{$side}-radius: $radius;
    -o-border-#{$side}-radius: $radius;
    border-#{$side}-radius: $radius;
}

@mixin scss_calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin scss_keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
    @content;
}
@-moz-keyframes #{$animation-name} {
    @content;
}  
@-ms-keyframes #{$animation-name} {
    @content;
}
@-o-keyframes #{$animation-name} {
    @content;
}  
@keyframes #{$animation-name} {
    @content;
}
}

@mixin scss_opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}


//---------------------------------------------------------------------------------------//
//--------.  EXTEND  .-------------------------------------------------------------------//
//---------------------------------------------------------------------------------------//

// FONT
%sfReg { font-family: $font-sf-reg, arial, Helvetica, sans-serif; }
%sfReg1 { font-family: $font-sf-reg1, arial, Helvetica, sans-serif; }
%sfReg2 { font-family: $font-sf-reg2, arial, Helvetica, sans-serif; }
%sfReg3 { font-family: $font-sf-reg3, arial, Helvetica, sans-serif; }
%sfThin { font-family: $font-sf-thin, arial, Helvetica, sans-serif; }
%sfLig{ font-family: $font-sf-light, arial, Helvetica, sans-serif; }
%sfMed { font-family: $font-sf-med, arial, Helvetica, sans-serif; }
%sfBold { font-family: $font-sf-bold, arial, Helvetica, sans-serif; }

// icon
%awsome { font-family: $awsome, arial, Helvetica, sans-serif; }
%clipf { font-family: $clipf, arial, Helvetica, sans-serif; }
%icoFont { font-family: $icof, arial, Helvetica, sans-serif; }

// DISPLAY
%dl-table { display: table; }
%dl-table-cell { display: table-cell; vertical-align: middle; }
%dl-table-row { display: inline-table; vertical-align: middle; }
%fl-le { @include scss_fl; }
%fl-ri { @include scss_fr; }

%clrfix {
    *zoom: 1;

    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

%font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%experimental { @include scss_experimental(appearance, none); }

%tran-hover-all { @include scss_transition(0.3s); }
%tran-all { @include scss_css3_prefix(transition, all 0.3s); }

%tran-all-1  { @include scss_css3_prefix(transition, all 1s); }
%tran-all-05 { @include scss_css3_prefix(transition, all 0.5s); }
%tran-all-04 { @include scss_css3_prefix(transition, all 0.4s); }
%tran-all-03 { @include scss_css3_prefix(transition, all 0.3s); }
%tran-all-02 { @include scss_css3_prefix(transition, all 0.2s); }
%tran-all-01 { @include scss_css3_prefix(transition, all 0.1s); }

%tran-all-08-ease { @include scss_css3_prefix(transition, all 0.8s ease); }

%tran-all-03-ease-in-out { @include scss_css3_prefix(transition, all 0.3s ease-in-out); }
%tran-all-05-ease-in-out { @include scss_css3_prefix(transition, all 0.5s ease-in-out); }
%tran-all-08-ease-in-out { @include scss_css3_prefix(transition, all 0.8s ease-in-out); }


/***
	/*
	* ----------------------- 1. CLASS DEFINE -----
	* ---------------------------------------------
	*/

/*----------------*\
	COLOR
\*----------------*/
.clo-ora { color: $clor; }
.clo-whi { color: $clw; }
.clo-blue { color: $clblue; }
.clo-grey { color: $clgrey; }
.clo-greyD { color: $clgreyDark; }

/*----------------*\
HEADLINE
\*----------------*/
.headline {
    position: relative;
    color: $clb;
    @include scss_fs(28);
    // --------- RESPONSIVE 
        @include scss_maxw(767px) {
            @include scss_fs(24); 
        }

    &.clo-white { color: $clw; }
    &.clo-ora { color: $clor; }
    
    // font-size
    &.hl-18 { @include scss_fs(18); }
    &.hl-24 { @include scss_fs(24); }
    &.hl-25 { @include scss_fs(25); }
    &.hl-30 { @include scss_fs(30); }
    &.hl-36 { @include scss_fs(36); }

    &.noUpper {
        text-transform: initial;
    }

    .sub-head {
        display: block;
        margin: 0 0 12px 0;
        line-height: 35px;
        color: $clw;
        -webkit-text-fill-color: $clw;
    }
}

/*----------------*\
BORDER
\*----------------*/
    .bder01 { border: 1px solid $clgrey; }

    .bder03-ora { border: 3px solid $clor; }

    .bdbt01-ora { border-bottom: 1px solid $clor; }

    .bdrd-08  { @include scss_border_radius(8px); }
    .bdrd-10  { @include scss_border_radius(10px); }

    .bdrd-tl { @include scss_border_side_radius(top-left, 0); }
    .bdrd-tr { @include scss_border_side_radius(top-right, 0); }

    .bdrd-tl { @include scss_css3_prefix(border-top-left-radius, 5px); }
    .bdrd-tr { @include scss_css3_prefix(border-top-right-radius, 5px); }

/*----------------*\
SHADOW
\*----------------*/
    .bsd { @include scss_css3_prefix(box-shadow, 0px 15px 20px rgba(0, 0, 0, 0.2)); }

/*----------------*\
BACKGROUND
\*----------------*/
    .bg-clor { background: $clor; }
    .bg-white { background: $clw; }
    .bg-blue { background: #dcedfa; }

/*----------------*\
IMAGE
\*----------------*/
img {
    &.w15 { width: 15px; }
    &.w20 { width: 20px; }
    &.w20 { width: 20px; }
    &.w30 { width: 30px; }
    &.w50 { width: 50px; }
    &.w100 { width: 100px; }
    &.w130 { width: 130px; }
    &.w160 { width: 160px; }
    &.w200 { width: 200px; }

    &.mwAuto { 
        max-width: auto; width: auto;
        /* ----------------------- RESPONSIVE */
        @include scss_maxw(991px) { max-width: auto; width: auto; }
        @include scss_maxw(767px) { max-width: auto; width: 30%; }
        @include scss_maxw(576px) { max-width: auto; width: 30%; }
    }
}

/*----------------*\
TYPO
\*----------------*/

a.lk {
    color: $clb;
    @extend %tran-hover-all;
    font-family: inherit;
    outline: none;

    &:hover,
    &.active {
        color: $clor;
        text-decoration: none;
        @extend %tran-all;
    }

    &.clo-whi {
        color: $clw;

        &:hover,
        &.active {
            opacity: 0.6;
        }
    }

    &.clo-ora {
        color: $clor;

        &:hover,
        &.active {
            opacity: 0.6;
        }
    }
}

li {
    font-family: inherit;
}

p.txt {
    @include scss_fs(14);
    line-height: 16px;
}

.text-30 {  @include scss_fs(30); }
.text-20 {  @include scss_fs(20); }
.text-18 {  @include scss_fs(18); }
.text-16 {  @include scss_fs(16); }
.text-15 {  @include scss_fs(15); }
.text-14 {  @include scss_fs(14); }
.text-13 {  @include scss_fs(13); }
.text-12 {  @include scss_fs(12); }

.text-thin { @extend %sfThin; }
.text-lig { @extend %sfLig; }
.text-bold { @extend %sfBold; }
.text-uper { text-transform: uppercase }

.lihe20 { line-height: 20px; }
.lihe22 { line-height: 22px; }
.lihe26 { line-height: 26px; }
.lihe30 { line-height: 30px; }
.lihe32 { line-height: 32px; }
.lihe44 { 
    line-height: 44px; 
    // --------- RESPONSIVE 
    @include scss_maxw(575px) {
        line-height: 38px; 
    }
}

.p-lihe22 { p { line-height: 22px; } }

.ltsp-1 { letter-spacing: -1px; }
.ltsp01 { letter-spacing: 0.1px; }
.ltsp1 { letter-spacing: 1px; }

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*----------------*\
SPACING
\*----------------*/

.mgt00 { margin-top: 0px; }
.mgt01 { margin-top: 1px; }
.mgt05 { margin-top: 5px; }
.mgt10 { margin-top: 10px; }
.mgt15 { margin-top: 15px; }
.mgt20 { margin-top: 20px; }
.mgt30 { margin-top: 30px; }
.mgt40 { margin-top: 40px; }
.mgt50 { margin-top: 50px; }
.mgt60 { margin-top: 60px; }

.mgb05 { margin-bottom: 05px;}
.mgb10 { margin-bottom: 10px;}
.mgb15 { margin-bottom: 15px;}
.mgb20 { margin-bottom: 20px; }
.mgb30 { margin-bottom: 30px; }
.mgb40 { margin-bottom: 40px; }
.mgb50 { margin-bottom: 50px; }

.pdt10 { padding-top: 10px; }
.pdt20 { padding-top: 20px; }
.pdt30 { padding-top: 30px; }
.pdt40 { padding-top: 40px; }
.pdt50 { padding-top: 50px; }

.pdb00 { padding-bottom: 0; }
.pdb10 { padding-bottom: 10px; }
.pdb20 { padding-bottom: 20px; }
.pdb30 { padding-bottom: 30px; }
.pdb40 { padding-bottom: 40px; }
.pdb50 { padding-bottom: 50px; }

.pdy10 { padding-top: 10px; padding-bottom: 10px; }
.pdy30 { padding-top: 30px; padding-bottom: 30px; }
.pdy40 { padding-top: 40px; padding-bottom: 40px; }
.pdy50 { padding-top: 50px; padding-bottom: 50px; }

.pdx10 { padding-left: 10px; padding-right: 10px; }
.pdx30 { padding-left: 30px; padding-right: 30px; }

.gutt20 {
    // --------- RESPONSIVE 
    @include scss_minw(1200px) {
        &.row {
            margin-left: -20px;
            margin-right: -20px;
        }

        & > [class*='col-'] {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}

// --------- RESPONSIVE 
@include scss_minw(576px) {
    .pdy-sm30 { padding-top: 30px; padding-bottom: 30px; }
    
    .pdx-sm30 { padding-left: 30px; padding-right: 30px; }
}
@include scss_minw(768px) {
    .pdy-md30 { padding-top: 30px; padding-bottom: 30px; }

    .pdx-md30 { padding-left: 30px; padding-right: 30px; }
}
@include scss_minw(992px) {
    .pdy-lg30 { padding-top: 30px; padding-bottom: 30px; }

    .pdx-lg30 { padding-left: 30px; padding-right: 30px; }
}
@include scss_minw(1200px) {
    .pdy-xl30 { padding-top: 30px; padding-bottom: 30px; }

    .pdx-xl30 { padding-left: 30px; padding-right: 30px; }
}

.h100pr { height: 100%; }



/***
*------------------------------ 2. OTHER -----
*---------------------------------------------
*/











