    select, textarea,
	input[type="text"],
	// input[type="file"], 
	input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"],
	input[type="month"], input[type="time"], input[type="week"], input[type="number"],
	input[type="email"], input[type="url"], input[type="search"], input[type="tel"],
	input[type="color"],
	.uneditable-input { 
        &.input-custom {
            // display: inline-block;
            // -webkit-font-smoothing: antialiased;
            // -webkit-text-size-adjust: 100%;
            // font-weight: inherit;
            width: 100%; height: 42px;
            // padding: 0 15px; margin: 1px 0 0 0px;
            // font-size: 16px; line-height: 40px;
            // color: $clw;
            // border: 1px solid $clgrey; 
            // border-radius: 0;
            // background: $clw;
            // resize: none;  vertical-align: middle;
            // box-shadow: none;
            // transition: all 150ms ease-in;

            @include scss_placeholder {
                color: $clgrey;
                // background: $clw;
                @include scss_fs(14);
                // font-weight: 500 !important;
            }

            // @include scss_placeholder_nonefocus {
            // 	// color: $transparent;
            // 	// font-weight: 500 !important;
            // }

            &.clear {
                background: transparent;
                border: 1px solid $clw; 

                @include scss_placeholder {
                    color: $clw;
                    // background: $clw;
                    @include scss_fs(12);
                    // font-weight: 500 !important;
                }
            }
        }
		
    }
    
.modal-custom {
    .modal-header {
        position: relative;
        border-bottom: none;

        .close {
            position: absolute; top: 0; right: 10px;
            padding: 0; margin: 0;
            font-weight: 300;
            font-size: 40px;
            color: $clor;
        }
    }

    &.modal-custom-login {
        .modal-header {
            .modal-title {
                position: relative;

                &::before {
                    position: absolute; bottom: -10px; left: 0; right: 0; margin: 0 auto;
                    display: block; content: '';
                    width: 50px; height: 3px;
                    background: $clor;
                }
            }
        }

        .modal-body {
            .input-custom {
                @include scss_placeholder {
                    padding: 0 15px 0 30px; margin: 1px 0 0 0px;
                    color: #bcbcbc;
                    font-style: italic;
                    @include scss_fs(12);
                }
            }

            input[type="text"] {
                background-image: url('../images/ico-form-uname.png');
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-size: 20px 19px;
                background-position: 10px 50%;

                &:focus {
                    background: none;
                }
            }

            input[type="password"] {
                background-image: url('../images/ico-form-pass.png');
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-size: 19px 19px;
                background-position: 10px 50%;

                &:focus {
                    background: none;
                }
            }
        }
    }
}